@charset "UTF-8";

@font-face {
    font-family: 'inclusao';
    src: url(../fontes/open-dyslexic.ttf) format(truetype);
}

/* A mente do site */

body {
    margin: 0;
    font-family: 'inclusao';
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
fieldset {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
}
* {
    margin: 0;
    padding: 0;
}

/* O corpo do site */
/* E o seu cabeçalho */

#cabeçalho {
    padding: 3%;
    text-align: center;
    background-color: #FFC8DD;
    color: #a479c0;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cabeçalho h1 {
    margin: auto 5%;
    width: max-content;
}
.menu {
    position: absolute;
    width: 13%;
    height: auto;
    left: 1%;
    top: 0.8%;
    cursor: pointer;
    border-radius: 50% 50% 100% 100%;
    transition-duration: .6s;
    transition-delay: .1s;
}
.nav {
    background-color: rgb(248, 248, 248);
}
.nav ul {
    font-size: 1.1em;
    list-style: none;
    display: flex;
    gap: 0%;
    margin: 0 auto;
    width: auto;
}
.nav ul a {
    margin: auto;
    padding: 2.5% 0;
    font-size: 1em;
    border-radius: 1.2em;
    color: #7cc2ff;
    text-decoration: none;
    transition-duration: .6s;
    width: auto;
}
.nav ul a:hover {
    background-color: #698bac;
    color: white;
    margin: 0% auto;
    padding: 2.5% 3%;
    transition-duration: .6s;
}
.nav ul a:active {
    background-color: #7cc2ff;
    color: rgb(248, 248, 248);
    transition-duration: .2s;
}

/* O menu de páginas do site */

#areas {
    height: 2500px;
    width: max-content;
    background-color: rgb(248, 248, 248);
    float: left;
    padding: 3%;
    color: hsl(210, 29%, 54%);
    text-align: left;
    font-size: 1em;
    letter-spacing: 1px;
    font-style: italic;
    position: fixed;
    top: 0;
    left: -70%;
    opacity: 0;
    transition-duration: .8s;
}
#areas label h2 {
    margin-bottom: 10%;
}
#areas a h3 {
    padding: 0 1%;
    width: max-content;
}
#areas a, #areas a h3 {
    text-decoration: none;
    color: #7cc2ff;
    margin-bottom: 10%;
    transition-duration: .6s;
}
#areas a:hover, #areas a h3:hover {
    color: rgb(248, 248, 248);
    background-color: #698bac;
    transition-duration: .6s;
    border-radius: 1em;
    padding: 3%;
}
#areas a:active, #areas a h3:active {
    color: rgb(248, 248, 248);
    background-color: #7cc2ff;
    transition-duration: .1s;
}

/* O conteúdo do site */

#conteúdo {
    text-align: center;
    color: #ff609a;
    letter-spacing: 1px;
    text-transform: none;
    min-width: 300px;
    max-width: 100%;
    height: 100%;
    line-height: 150%;
    font-size: 1.2em;
}
#conteúdo fieldset {
    margin: auto 5% 5%;
    padding: 2%;
}
.coisa {
    width: 30%;
    height: auto;
    margin-top: 0.2em;
}
.parte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    gap: 4%;
}
.circulo {
    width: 30%;
    height: auto;
    background-color: rgb(248, 248, 248);
    border-radius: 10em;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.116);
}
.retangulo {
    color: #ff81b1;
    background-color: rgb(248, 248, 248);
    border-radius: 1em;
    padding: 1% 2%;
}
.retangulo h2, .retangulo h3 {
    margin: 2% 0;
    width: auto;
    height: auto;
}
.retangulo.direito h2, .retangulo.direito h3 {
    text-align: left;
}
.retangulo.esquerdo h2, .retangulo.esquerdo h3 {
    text-align: right;
}


/* .link div {
    margin: 2% auto;
}
.link div a h3 {
    font-size: 30px;
    color: #ff81b1;
    display: inline-block;
    vertical-align: top;
    line-height: 1.3em;
    margin-top: 4%;
    transition-duration: .6s;
    border-radius: 0.9em;
    padding: 1%;
}
.link div a h3:hover {
    color: white;
    background-color: #ff609a;
    transition-duration: .6s;
}
.link div a h3:active {
    background-color: #ff81b1;
    color: rgb(248, 248, 248);
    transition-duration: .2s;
} */

.link section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
    line-height: 1.5em;
    margin: 5% auto;
}
.capas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
}
.capas.cimas a, .capas.baixas a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    margin: 0;
    text-decoration: none;
    border-radius: 2em;
}
.capas.cimas a figcaption, .capas.baixas a figcaption {
    color: white;
    background-color: #7cc2ff;
    border-radius: 0.9em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    transition-duration: .6s;
    padding: 2%;
    margin: 8% 2%;
    height: max-content;
}
.capas.cimas a figcaption:hover, .capas.baixas a figcaption:hover {
    color: white;
    background-color: #ff81b1;
    border-radius: 0.9em;
    transition-duration: .4s;
}
.capas.cimas a figcaption:active, .capas.baixas a figcaption:active {
    background-color: #FFC8DD;
    color: rgb(248, 248, 248);
    transition-duration: .2s;
}
.igual {
    width: auto;
    min-height: 50px;
    max-height: 450px;
    border-radius: 1.5em;
    transition-duration: .6s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
}
.igual:hover {
    box-shadow: 0px 0px 30px 5px #FFC8DD;
    transition-duration: .2s;
}
.igual:active {
    box-shadow: 0px 0px 30px 5px #ff609a;
    transition-duration: .1s;
}

.imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 4% 5%;
}
.iguali {
    width: 40%;
    height: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);
    border-radius: 1em;
}
.especial {
    width: 45%;
    height: auto;
    margin-top: 1em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.055);
    position: static;
}
.topo {
    width: 6%;
    height: auto;
    right: 1%;
    bottom: 1%;
    position: fixed;
    cursor: pointer;
    border-radius: 60%;
    transition-duration: .1s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);
}
.topo:hover {
    box-shadow: 0px 0px 20px 5px #ff609a;
    transition-duration: .1s;
}
.topo:active {
    box-shadow: 0px 0px 20px 5px #FFC8DD;
    transition-duration: .1s;
}

/* O rodapé do site */

#final {
    background-color: #FFC8DD;
    text-align: center;
    color: #a479c0;
    padding: 1px;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: bolder;
    position: static;
    width: 100%;
    height: auto;
    align-items: center;
    font-size: 1.5em;
}
#final h2 {
    margin: 4% auto 3%;
}
.table {
    margin: -5px auto 5% auto;
    text-align: center;
    position: static;
    font-size: 1em;
    align-items: center;
    border: 0.3em groove #7cc2ff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
    width: 80%;
    padding: 0;
}
.cima {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.cima a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    transition-duration: .6s;
    border-radius: 0.5em;
    margin: 0;
    padding: 0;
}
.cima a h3:hover {
    background-color: #a479c0;
    color: white;
    transition-duration: .2s;
}
.cima a h3:active {
    color: rgb(248, 248, 248);
    background-color: #ff609a;
    transition-duration: .2s;
}
.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .6s;
    border-radius: 0.5em;
    color: white;
    margin: 0;
    padding: 0;
}
.la {
    align-items: center;
    display: flex;
    width: 60px;
    height: 60px;
    margin: 0 0.3em;
    padding: 0;
}
#final h4 {
    margin: 3% auto -4%;
}
.list {
    display: flex;
    list-style: none;
    gap: 1em;
    font-size: 1em;
    margin: 8% 5%;
}
.list li a, .list li a h5, .list li h5 {
    color: white;
    text-decoration: none;
    transition-duration: .6s;
    border-radius: 0.8em;
}
.list li a h5:hover, .list li h5 a:hover {
    background-color: #a479c0;
    color: white;
    transition-duration: .2s;
}
.list li a h5:active, .list li h5 a:active  {
    color: rgb(248, 248, 248);
    background-color: #ff609a;
    transition-duration: .2s;
}

/* A responsividade do site */

@media only screen and (max-width: 600px) {
    body {
        font-size: 1em;
    }
    .menu {
        width: 30%;
    }
    #cabeçalho {
        padding: 3%;
    }
    #cabeçalho h1 {
        font-size: 1.8em;
        margin: auto 1% auto 25%;
    }
    .nav {
        font-size: 0.9em;
    }
    .nav ul {
        gap: 0;
        padding: 0;
        margin: auto 0.5em;
    }
    #áreas {
        font-size: 1em;
    }
    #conteúdo {
        font-size: 1em;
    }
    #conteúdo fieldset {
        margin: auto 1% 15%;
        font-size: 1.5em;
        line-height: 2em;
    }
    .coisa {
        width: 70%;
    }
    .pé {
        width: 70%;
    }
    #parte-horaria {
        flex-direction: column;
    }
    #parte-antihoraria {
        flex-direction: column-reverse;
    }
    .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    .retangulo.direito h2, .retangulo.direito h3 {
        text-align: center;
    }
    .retangulo.esquerdo h2, .retangulo.esquerdo h3 {
        text-align: center;
    }
    .link fieldset {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }
    .link br {
        display: none;
    }
    .capas.cimas, .capas.baixas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: auto 5%;
    }
    .capas.cimas a, .capas.baixas a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
        gap: 0;
        text-decoration: none;
    }
    .capas.cimas a:hover, .capas.baixas a:hover {
        color: white;
        background-color: #ff81b1;
        transition-duration: .4s;
    }
    .capas.cimas a:active, .capas.baixas a:active {
        background-color: #FFC8DD;
        color: rgb(248, 248, 248);
        transition-duration: .2s;
    }
    .capas.cimas a h3, .capas.baixas a h3 {
        color: white;
        background-color: #7cc2ff;
        margin-top: 0;
        margin-bottom: 0;
        margin: 0;
        transition-duration: .6s;
        width: 100%;
        line-height: 1.1em;
    }
    .capas.cimas a h3 {
        border-radius: 0 0 0.9em 0.9em;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    .capas.baixas a h3 {
        border-radius: 0.9em 0.9em 0 0;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    .igual.cima {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .igual {
        height: 100%;
        width: 105%;
    }
    .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    .iguali {
        width: 80%;
    }
    .topo {
        width: 25%;
        bottom: 5%;
        right: 2%;
    }
    .table {
        margin: auto;
        display: flex;
        column-span: all;
        width: max-content;
    }
    .table thead tr {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .cima {
        display: flex;
        margin: auto;
        padding: 5%;
    }
    .la {
        width: 40px;
        height: 40px;
    }
    #autorias h4 {
        margin: 5%;
    }
    .list {
        font-size: 0.6em;
        padding: 1% 0;
        margin: 0 4%;
        gap: 2%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 650px) {
    body {
        font-size: 1.2em;
    }
    .menu {
        width: 25%;
    }
    #cabeçalho {
        font-size: 1.2em;
        padding: 3%;
    }    
    #cabeçalho h1 {
        margin: auto 8%;
        margin: auto 1% auto 25%;
    }
    .nav {
        font-size: 1.2em;
    }
    .nav ul {
        gap: auto;
        padding: 0;
        margin: 0 1%;
    }
    #áreas {
        font-size: 1em;
    }
    #conteúdo {
        font-size: 1em;
    }
    #conteúdo fieldset {
        margin: auto 1% 15%;
        font-size: 1.5em;
        line-height: 2em;
    }
    .coisa {
        width: 70%;
    }
    .pé {
        width: 70%;
    }
    #parte-horaria {
        flex-direction: column;
    }
    #parte-antihoraria {
        flex-direction: column-reverse;
    }
    .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    .retangulo.direito h2, .retangulo.direito h3 {
        text-align: center;
    }
    .retangulo.esquerdo h2, .retangulo.esquerdo h3 {
        text-align: center;
    }
    .link fieldset {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }
    .link br {
        display: none;
    }
    .capas.cimas, .capas.baixas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: auto;
        margin: auto 5%;
    }
    .capas.cimas a, .capas.baixas a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
        gap: 0;
        text-decoration: none;
    }
    .capas.cimas a:hover, .capas.baixas a:hover {
        color: white;
        background-color: #ff81b1;
        transition-duration: .4s;
    }
    .capas.cimas a:active, .capas.baixas a:active {
        background-color: #FFC8DD;
        color: rgb(248, 248, 248);
        transition-duration: .2s;
    }
    .capas.cimas a h3, .capas.baixas a h3 {
        color: white;
        background-color: #7cc2ff;
        margin-top: 0;
        margin-bottom: 0;
        transition-duration: .6s;
        padding: 3%;
        width: 100%;
    }
    .capas.cimas a h3 {
        border-radius: 0 0 0.9em 0.9em;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    .capas.baixas a h3 {
        border-radius: 0.9em 0.9em 0 0;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    .igual.cima {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .igual {
        height: 100%;
        width: 106%;
    }
    .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    .iguali {
        width: 80%;
    }
    .topo {
        width: 22%;
        bottom: 8%;
        right: 2%;
    }
    #final {
        font-size: 1em;
    }
    #autorias h4 {
        margin: 0;
    }
    .list {
        font-size: 10px;
        padding: 1% 0;
        margin: 0 4%;
        gap: 2%;
    }
    .table {
        font-size: 12px;
    }
    .la {
        width: 30px;
        height: 30px;
        margin: 0.3em 0.3em;
    }
}
@media only screen and (min-width: 650px) and (max-width: 750px) {
    body {
        font-size: 1.3em;
    }
    #cabeçalho {
        padding: 3%;
    }    
    #cabeçalho h1 {
        font-size: 2em;
        margin: auto 1% auto 16%;
    }
    .menu {
        width: 30%;
    }
    .nav {
        font-size: 1.3em;
    }
    .nav ul {
        margin: 0 1%;
        gap: 1%;
        padding: 0;
    }
    #areas {
        font-size: 1.3em;
    }
    #conteúdo {
        font-size: 1em;
    }
    #conteúdo fieldset {
        margin: auto 1% 15%;
        font-size: 1.5em;
        line-height: 2em;
    }
    .coisa {
        width: 50%;
    }
    .pé {
        width: 65%;
    }
    #parte-horaria {
        flex-direction: column;
    }
    #parte-antihoraria {
        flex-direction: column-reverse;
    }
    .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    .retangulo.direito h2, .retangulo.direito h3 {
        text-align: center;
    }
    .retangulo.esquerdo h2, .retangulo.esquerdo h3 {
        text-align: center;
    }
    .link fieldset {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }
    .link br {
        display: none;
    }
    .capas.cimas, .capas.baixas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    .capas.cimas a, .capas.baixas a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
        gap: 0;
        text-decoration: none;
    }
    .capas.cimas a:hover, .capas.baixas a:hover {
        color: white;
        background-color: #ff81b1;
        transition-duration: .4s;
    }
    .capas.cimas a:active, .capas.baixas a:active {
        background-color: #FFC8DD;
        color: rgb(248, 248, 248);
        transition-duration: .2s;
    }
    .capas.cimas a h3, .capas.baixas a h3 {
        color: white;
        background-color: #7cc2ff;
        margin-top: 0;
        margin-bottom: 0;
        transition-duration: .6s;
        padding: 2%;
        width: 96%;
    }
    .capas.cimas a h3 {
        border-radius: 0 0 0.9em 0.9em;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    .capas.baixas a h3 {
        border-radius: 0.9em 0.9em 0 0;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    .igual.cima {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .igual {
        height: auto;
        max-height: 100%;
        width: 450px;
    }
    .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    .iguali {
        width: 80%;
    }
    #final {
        font-size: 18px;
    }
    #autorias h4 {
        margin: 0;
    }
    .list {
        font-size: 11px;
        padding: 1% 0;
        margin: 0 4%;
        gap: 2%;
    }
    .table {
        font-size: 13px;
    }
    .la {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 750px) and (max-width: 1000px) {
    body {
        font-size: 1.4em;
    }
    #cabeçalho {
        padding: 3%;
    }    
    #cabeçalho h1 {
        margin: auto 1% auto 25%;
        font-size: 1.8em;
    }
    .menu {
        width: 25%;
    }
    .nav {
        font-size: 1.4em;
    }
    .nav ul {
        margin: 0 1%;
        gap: 1%;
        padding: 0;
    }
    #areas {
        font-size: 1.3em;
    }
    #conteúdo {
        font-size: 1em;
    }
    #conteúdo fieldset {
        margin: auto 1% 15%;
        font-size: 1.5em;
        line-height: 2em;
    }
    .coisa {
        width: 50%;
    }
    .pé {
        width: 65%;
    }
    #parte-horaria {
        flex-direction: column;
    }
    #parte-antihoraria {
        flex-direction: column-reverse;
    }
    .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    .retangulo.direito h2, .retangulo.direito h3 {
        text-align: center;
    }
    .retangulo.esquerdo h2, .retangulo.esquerdo h3 {
        text-align: center;
    }
    .link fieldset {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }
    .link br {
        display: none;
    }
    .capas.cimas, .capas.baixas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    .capas.cimas a, .capas.baixas a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
        gap: 0;
        text-decoration: none;
    }
    .capas.cimas a:hover, .capas.baixas a:hover {
        color: white;
        background-color: #ff81b1;
        transition-duration: .4s;
    }
    .capas.cimas a:active, .capas.baixas a:active {
        background-color: #FFC8DD;
        color: rgb(248, 248, 248);
        transition-duration: .2s;
    }
    .capas.cimas a h3, .capas.baixas a h3 {
        color: white;
        background-color: #7cc2ff;
        margin-top: 0;
        margin-bottom: 0;
        transition-duration: .6s;
        padding: 2%;
        width: 95%;
    }
    .capas.cimas a h3 {
        border-radius: 0 0 0.9em 0.9em;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    .capas.baixas a h3 {
        border-radius: 0.9em 0.9em 0 0;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    .igual.cima {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .igual {
        height: auto;
        max-height: 100%;
        width: 480px;
    }
    .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    .iguali {
        width: 80%;
    }
    #final {
        font-size: 1em;
    }
    #autorias h4 {
        margin: 0;
    }
    .list {
        font-size: 1em;
        padding: 1% 0;
        margin: 0 4%;
        gap: 2%;
    }
    .table {
        font-size: 1em;
    }
    .link div a h3 {
        font-size: 1em; 
    }
    .la {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1133px) {
    body {
        font-size: 1.5em;
    }
    #cabeçalho {
        padding: 3%;
    }    
    #cabeçalho h1 {
        font-size: 2.2em;
        margin: auto 1% auto 25%;
    }
    .menu {
        width: 25%;
    }
    .nav {
        font-size: 1.5em;
    }
    .nav ul {
        margin: 0 3%;
        gap: 0%;
        padding: 0;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
    #areas {
        font-size: 1.5em;
    }
    #conteúdo {
        font-size: 1em;
    }
    #conteúdo fieldset {
        margin: auto 1% 15%;
        font-size: 1.5em;
        line-height: 2em;
    }
    .coisa {
        width: 50%;
    }
    .pé {
        width: 65%;
    }
    #parte-horaria {
        flex-direction: column;
    }
    #parte-antihoraria {
        flex-direction: column-reverse;
    }
    .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    .retangulo.direito h2, .retangulo.direito h3 {
        text-align: center;
    }
    .retangulo.esquerdo h2, .retangulo.esquerdo h3 {
        text-align: center;
    }
    .link fieldset {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }
    .link br {
        display: none;
    }
    .capas.cimas, .capas.baixas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    .capas.cimas a, .capas.baixas a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
        gap: 0;
        text-decoration: none;
    }
    .capas.cimas a:hover, .capas.baixas a:hover {
        color: white;
        background-color: #ff81b1;
        transition-duration: .4s;
    }
    .capas.cimas a:active, .capas.baixas a:active {
        background-color: #FFC8DD;
        color: rgb(248, 248, 248);
        transition-duration: .2s;
    }
    .capas.cimas a h3, .capas.baixas a h3 {
        color: white;
        background-color: #7cc2ff;
        margin-top: 0;
        margin-bottom: 0;
        transition-duration: .6s;
        padding: 2%;
        width: 95%;
    }
    .capas.cimas a h3 {
        border-radius: 0 0 0.9em 0.9em;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    .capas.baixas a h3 {
        border-radius: 0.9em 0.9em 0 0;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    }
    .igual.cima {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .igual {
        height: auto;
        max-height: 100%;
        width: 600px;
    }
    .imagens {
        flex-direction: column;
        margin: 9% auto;
        gap: 2.5em;
    }
    .iguali {
        width: 80%;
    }
    #final {
        font-size: 1em;
    }
    .list {
        font-size: 1em;
    }
    .table {
        font-size: 1em;
    }
    .la {
        width: 55px;
        height: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (min-width: 1133px) and (max-width: 1215px) {
    .nav {
        font-size: 1em;
    }
    .nav ul {
        margin: 0 10%;
    }
    #conteúdo {
        font-size: 1em;
    }
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 300px;
    }
    #areas {
        font-size: 1em;
    }
    .la {
        margin: 0.3em 0.3em;
    }
    .list {
        font-size: 1em;
    }
}
@media only screen and (min-width: 1215px) and (max-width: 1350px) {
    .nav {
        font-size: 1em;
    }
    .nav ul {
        margin: 0 8%;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
    #conteúdo {
        font-size: 1em;
    }
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 300px;
    }
    .la {
        margin: 0.3em 0.3em;
    }
}
@media only screen and (min-width: 1350px) and (max-width: 1500px) {
    .nav {
        font-size: 1.1em;
    }
    .nav ul {
        margin: 0 8%;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 350px;
    }
    .la {
        margin: 0.3em 0.3em;
    }
}
@media only screen and (min-width: 1500px) {
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 400px;
    }
    .la {
        margin: 0.3em 0.3em;
    }
}