@charset "UTF-8";

@font-face {
    font-family: 'inclusao';
    src: url(../fontes/open-dyslexic.ttf) format(truetype);
}

/* A mente do site */

body {
    font: 1.5em 'inclusao';
    text-align: center;
    max-width: 100%;
    height: auto;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}

/* O corpo do site */
/* E o seu cabeçalho */

#cabecalho #titulo {
    padding: 4%;
    background-color: #FFC8DD;
    color: #a479c0;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cabecalho #titulo h1 {
    width: max-content;
}
#cabecalho .menu {
    position: absolute;
    width: 13%;
    height: auto;
    left: 1%;
    top: 0.8%;
    cursor: pointer;
    border-radius: 50% 50% 100% 100%;
    transition-duration: .6s;
}
#cabecalho .nav {
    background-color: rgb(248, 248, 248);
}
#cabecalho .nav ul {
    font-size: 1.1em;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin: auto;
    width: max-content;
}
#cabecalho .nav ul a {
    margin: auto;
    padding: 2.5% 0;
    font-size: 1em;
    border-radius: 1.2em;
    color: #7cc2ff;
    text-decoration: none;
    transition-duration: .6s;
    width: auto;
}
#cabecalho .nav ul a:hover {
    background-color: #698bac;
    color: white;
    margin: 0% auto;
    padding: 2.5% 3%;
    transition-duration: .6s;
}
#cabecalho .nav ul a:active {
    background-color: #7cc2ff;
    color: rgb(248, 248, 248);
    transition-duration: .2s;
}

/* O menu de páginas do site */

#areas {
    height: 100em;
    width: max-content;
    background-color: rgb(248, 248, 248);
    float: left;
    padding: 3%;
    color: hsl(210, 29%, 54%);
    text-align: left;
    font-size: 1em;
    letter-spacing: 1px;
    font-style: italic;
    position: fixed;
    top: 0;
    left: -70%;
    opacity: 0;
    transition-duration: .8s;
}
#areas label h2 {
    margin-bottom: 10%;
}
#areas a h3 {
    padding: 0 1%;
    width: max-content;
}
#areas a, #areas a h3 {
    text-decoration: none;
    color: #7cc2ff;
    margin-bottom: 10%;
    transition-duration: .6s;
}
#areas a:hover, #areas a h3:hover {
    color: rgb(248, 248, 248);
    background-color: #698bac;
    transition-duration: .6s;
    border-radius: 1em;
    padding: 3%;
}
#areas a:active, #areas a h3:active {
    color: rgb(248, 248, 248);
    background-color: #7cc2ff;
    transition-duration: .1s;
}

/* O conteúdo do site */

#conteudo {
    color: #ff609a;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 1.2em;
}
#conteudo .secao img {
    width: 30%;
    height: auto;
    margin-top: 0.2em;
    position: static;
}
#conteudo .txt {
    margin: auto 10% 5%;
    padding: 2%;
    line-height: 1.7em;
    text-indent: 5%;
    text-align: justify;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.199);
}
#conteudo .parte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    gap: 4%;
}
#conteudo .parte .circulo {
    width: 30%;
    height: auto;
    background-color: rgb(248, 248, 248);
    border-radius: 10em;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.116);
}
#conteudo .parte .retangulo {
    color: #ff81b1;
    background-color: rgb(248, 248, 248);
    border-radius: 1em;
    padding: 1% 2%;
}
#conteudo .parte .retangulo h2, #conteudo .parte .retangulo p {
    margin: 2% 0;
    width: auto;
    height: auto;
}
#conteudo .parte .retangulo.direito h2, #conteudo .parte .retangulo.direito p {
    text-align: left;
}
#conteudo .parte .retangulo.esquerdo h2, #conteudo .parte .retangulo.esquerdo p {
    text-align: right;
}
#conteudo .videos-a-ver section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
    margin: 5% auto;
}
#conteudo .videos-a-ver .capas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
}
#conteudo .videos-a-ver .capas.cimas a, #conteudo .videos-a-ver .capas.baixas a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    margin: 0;
    text-decoration: none;
    border-radius: 2em;
}
#conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption {
    color: white;
    background-color: #7cc2ff;
    border-radius: 0.9em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    transition-duration: .6s;
    padding: 2%;
    margin: 8% 2%;
    height: max-content;
}
#conteudo .videos-a-ver .capas.cimas a figcaption:hover, #conteudo .videos-a-ver .capas.baixas a figcaption:hover {
    color: white;
    background-color: #ff81b1;
    border-radius: 0.9em;
    transition-duration: .4s;
}
#conteudo .videos-a-ver .capas.cimas a figcaption:active, #conteudo .videos-a-ver .capas.baixas a figcaption:active {
    background-color: #FFC8DD;
    color: rgb(248, 248, 248);
    transition-duration: .2s;
}
#conteudo .videos-a-ver .capas .igual {
    width: auto;
    max-height: 400px;
    border-radius: 1.5em;
    transition-duration: .6s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
}
#conteudo .videos-a-ver .capas .igual:hover {
    box-shadow: 0px 0px 30px 1px #ff81b1;
    transition-duration: .2s;
}
#conteudo .videos-a-ver .capas .igual:active {
    box-shadow: 0px 0px 30px 1px #ff609a;
    transition-duration: .1s;
}

#conteudo .imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 4% 5%;
}
#conteudo .imagens .iguali {
    width: 40%;
    height: auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);
    border-radius: 1em;
}
#conteudo .especial img {
    width: 45%;
    height: auto;
    margin-top: 1em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.055);
    position: static;
}
#conteudo .topo {
    width: 6%;
    height: auto;
    right: 1%;
    bottom: 5%;
    position: fixed;
    cursor: pointer;
    border-radius: 60%;
    transition-duration: .1s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);
}
#conteudo .topo:hover {
    box-shadow: 0px 0px 15px 1px #ff609a;
    transition-duration: .1s;
}
#conteudo .topo:active {
    box-shadow: 0px 0px 15px 1px #FFC8DD;
    transition-duration: .1s;
}

/* O rodapé do site */

#final {
    background-color: #FFC8DD;
    color: #a479c0;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: bolder;
    width: 100%;
    height: max-content;
    align-items: center;
    font-size: 1.5em;
    padding-bottom: 4%;
}
#final h2 {
    padding: 4%;
}
#final #contatos .table {
    margin: -0.6em auto 5%;
    text-align: center;
    position: static;
    align-items: center;
    border: 0.3em groove #7cc2ff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
    width: 80%;
}
#final #contatos .cima {
    display: flex;
    justify-content: center;
    padding: 1%;
}
#final #contatos .cima a {
    display: flex;
    align-items: center;
    gap: 3%;
    color: white;
    text-decoration: none;
    transition-duration: .6s;
    border-radius: 0.5em;
    padding: 2%;
}
#final #contatos .cima a h3:hover {
    background-color: #a479c0;
    color: white;
    transition-duration: .2s;
}
#final #contatos .cima a h3:active {
    color: rgb(248, 248, 248);
    background-color: #ff609a;
    transition-duration: .2s;
}
#final #contatos .contato {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .6s;
    border-radius: 0.5em;
    color: white;
    padding: 3%;
    margin: 0 -5%;
}
#final #contatos .la {
    align-items: center;
    display: flex;
    width: 60px;
    height: 60px;
    margin: 0 0.3em;
}
#final #autorias {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}
#final #autorias .list {
    list-style: none;
    columns: 4;
    gap: 1.5em;
    padding: 0 8%;
}
#final #autorias .list li {
    margin-bottom: 30%;
    text-align: start;
    color: white;
}
#final #autorias .list li a {
    color: white;
    text-decoration: none;
    transition-duration: .6s;
    border-radius: 0.4em;
    display: block;
    width: fit-content;
    padding: 1%;
}
#final #autorias .list li a:hover {
    background-color: #a479c0;
    color: white;
    transition-duration: .2s;
}
#final #autorias .list li a:active  {
    color: rgb(248, 248, 248);
    background-color: #ff609a;
    transition-duration: .2s;
}

/* A responsividade do site */

@media only screen and (max-width: 600px) {
    body {
        font-size: 5vw;
    }
    #cabecalho .menu {
        left: 3%;
        width: 25%;
    }
    #cabecalho #titulo {
        padding: 4%;
    }
    #cabecalho #titulo h1 {
        font-size: 10vw;
        margin: auto 20%;
        width: min-content;
    }
    #cabecalho .nav {
        font-size: 3vw;
    }
    #cabecalho .nav ul {
        gap: 0vw;
        width: auto;
    }
    #areas {
        padding: 8% 5%;
    }
    #conteudo {
        font-size: 5vw;
    }
    #conteudo .txt {
        margin: auto 2% 15%;
        padding: 2% 5%;
        font-size: 1.5em;
        line-height: 1.8em;
    }
    #conteudo .secao img {
        width: 70%;
    }
    #conteudo .especial img {
        width: 70%;
    }
    #conteudo #parte-horaria {
        flex-direction: column;
    }
    #conteudo #parte-antihoraria {
        flex-direction: column-reverse;
    }
    #conteudo .parte .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    #conteudo .parte .retangulo.direito h2, #conteudo .parte .retangulo.direito p {
        text-align: center;
    }
    #conteudo .parte .retangulo.esquerdo h2, #conteudo .parte .retangulo.esquerdo p {
        text-align: center;
    }
    #conteudo .videos-a-ver section {
        font-size: 7vw;
        gap: 3em;
    }
    #conteudo .videos-a-ver br {
        display: none;
    }
    #conteudo .videos-a-ver .capas.cimas, #conteudo .videos-a-ver .capas.baixas {
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: auto 15%;
    }
    #conteudo .videos-a-ver .capas.cimas a, #conteudo .videos-a-ver .capas.baixas a {
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    #conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption {
        width: 100%;
        margin: 0;
    }
    #conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.cimas a figcaption:hover, #conteudo .videos-a-ver .capas.cimas a figcaption:active {
        border-radius: 0 0 1.5em 1.5em ;
    }
    #conteudo .videos-a-ver .capas.baixas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption:hover, #conteudo .videos-a-ver .capas.baixas a figcaption:active {
        border-radius: 1.5em 1.5em 0 0;
    }
    #conteudo .videos-a-ver .igual.cimas {
        border-radius: 1.5em 1.5em 0 0;
    }
    #conteudo .videos-a-ver .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    #conteudo .videos-a-ver .capas .igual {
        height: 100%;
        width: 105%;
    }
    #conteudo .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    #conteudo .imagens .iguali {
        width: 80%;
    }
    #conteudo .topo {
        width: 20%;
        right: 4%;
    }
    #final h2 {
        margin: 10% 5% 6%;
    }
    #final #contatos .table {
        margin: auto;
        display: flex;
        column-span: all;
        width: auto;
    }
    #final #contatos .table thead tr {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    #final #contatos .table thead tr th {
        width: auto;
    }
    #final #contatos .cima {
        display: flex;
    }
    #final #contatos .la {
        width: auto;
        height: 40px;
    }
    #final #autorias .list {
        font-size: 0.55em;
        margin: 0% 5% 10% 1%;
    }
    #final #autorias .list li {
        width: fit-content;
    }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    body {
        font-size: 1.2em;
    }
    .menu {
        width: 25%;
    }
    #cabecalho #titulo {
        padding: 4%;
    }    
    #cabecalho #titulo h1 {
        font-size: 2em;
        margin: auto 15%;
    }
    .nav {
        font-size: 1.2em;
    }
    .nav ul {
        gap: auto;
        padding: 0;
        margin: 0 1%;
    }
    #areas {
        padding: 8% 5%;
    }
    #conteudo {
        font-size: 1em;
    }
    #conteudo .txt {
        margin: auto 1% 15%;
        font-size: 1.5em;
        line-height: 2em;
    }
    .secao img {
        width: 70%;
    }
    .especial img {
        width: 70%;
    }
    #parte-horaria {
        flex-direction: column;
    }
    #parte-antihoraria {
        flex-direction: column-reverse;
    }
    .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    .retangulo.direito h2, .retangulo.direito h3 {
        text-align: center;
    }
    .retangulo.esquerdo h2, .retangulo.esquerdo h3 {
        text-align: center;
    }
    .videos-a-ver section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }
    .videos-a-ver br {
        display: none;
    }
    .capas.cimas, .capas.baixas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: auto 15%;
    }
    .capas.cimas a, .capas.baixas a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
        gap: 0;
        text-decoration: none;
    }
    .capas.cimas a figcaption, .capas.baixas a figcaption {
        width: 100%;
        margin: 0;
    }
    .capas.cimas a figcaption, .capas.cimas a figcaption:hover, .capas.cimas a figcaption:active {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .capas.baixas a figcaption, .capas.baixas a figcaption:hover, .capas.baixas a figcaption:active {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.cima {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .igual {
        height: 100%;
        width: 106%;
    }
    .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    .iguali {
        width: 80%;
    }
    .topo {
        width: 20%;
        right: 4%;
    }
    #final {
        font-size: 1.4em;
    }
    #final h2 {
        margin: 10% 5% 6%;
    }
    .table {
        margin: auto;
        display: flex;
        column-span: all;
        width: max-content;
    }
    .table thead tr {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .cima {
        display: flex;
        margin: auto;
        padding: 5%;
    }
    .la {
        width: 45px;
        height: 45px;
    }
    .list {
        font-size: 0.74em;
        margin: 1% 5% 10%
    }
    .list li {
        width: fit-content;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    body {
        font-size: 1.3em;
    }
    #cabecalho #titulo {
        padding: 4%;
    }    
    #cabecalho #titulo h1 {
        font-size: 2em;
        margin: auto 16%;
        width: min-content;
    }
    .menu {
        width: 25%;
    }
    .nav {
        font-size: 1.3em;
    }
    .nav ul {
        margin: 0 1%;
        gap: 1%;
        padding: 0;
    }
    #areas {
        font-size: 1.3em;
        padding: 8% 5%;
    }
    #conteudo {
        font-size: 1em;
    }
    #conteudo .txt {
        margin: auto 1% 15%;
        font-size: 1.5em;
        line-height: 2em;
    }
    .secao img {
        width: 50%;
    }
    .especial img {
        width: 65%;
    }
    #parte-horaria {
        flex-direction: column;
    }
    #parte-antihoraria {
        flex-direction: column-reverse;
    }
    .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    .retangulo.direito h2, .retangulo.direito h3 {
        text-align: center;
    }
    .retangulo.esquerdo h2, .retangulo.esquerdo h3 {
        text-align: center;
    }
    .videos-a-ver fieldset {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }
    .videos-a-ver br {
        display: none;
    }
    .capas.cimas, .capas.baixas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: auto 15%;
    }
    .capas.cimas a, .capas.baixas a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
        gap: 0;
        text-decoration: none;
    }
    .capas.cimas a figcaption, .capas.baixas a figcaption {
        width: 100%;
        margin: 0;
    }
    .capas.cimas a figcaption, .capas.cimas a figcaption:hover, .capas.cimas a figcaption:active {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .capas.baixas a figcaption, .capas.baixas a figcaption:hover, .capas.baixas a figcaption:active {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.cima {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .igual {
        height: auto;
        max-height: 100%;
        width: 450px;
    }
    .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    .iguali {
        width: 80%;
    }
    #final {
        font-size: 1em;
    }
    #final h2 {
        font-size: 2em;
        margin: 6% 5% 4%;
    }
    .table {
        margin: auto;
        display: flex;
        column-span: all;
        width: max-content;
    }
    .table thead tr {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .cima {
        display: flex;
        margin: auto;
        padding: 5%;
    }
    .la {
        width: 50px;
        height: 50px;
    }
    .list {
        font-size: 1em;
        margin: 1% 5% 10%
    }
    .topo {
        width: 20%;
        right: 4%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        font-size: 1.4em;
    }
    #cabecalho #titulo {
        padding: 4%;
    }    
    #cabecalho #titulo h1 {
        margin: auto 15%;
        font-size: 2em;
        width: min-content;
    }
    .menu {
        width: 25%;
    }
    .nav {
        font-size: 1.4em;
    }
    .nav ul {
        margin: 0 1%;
        gap: 1%;
        padding: 0;
    }
    #areas {
        font-size: 1.3em;
        padding: 8% 5%;
    }
    #conteudo {
        font-size: 1em;
    }
    #conteudo .txt {
        margin: auto 1% 15%;
        font-size: 1.5em;
        line-height: 2em;
    }
    .secao img {
        width: 50%;
    }
    .especial img {
        width: 65%;
    }
    #parte-horaria {
        flex-direction: column;
    }
    #parte-antihoraria {
        flex-direction: column-reverse;
    }
    .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    .retangulo.direito h2, .retangulo.direito h3 {
        text-align: center;
    }
    .retangulo.esquerdo h2, .retangulo.esquerdo h3 {
        text-align: center;
    }
    .videos-a-ver fieldset {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3em;
    }
    .videos-a-ver br {
        display: none;
    }
    .capas.cimas, .capas.baixas {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: auto 15%;
    }
    .capas.cimas a, .capas.baixas a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-self: center;
        gap: 0;
        text-decoration: none;
    }
    .capas.cimas a figcaption, .capas.baixas a figcaption {
        width: 100%;
        margin: 0;
    }
    .capas.cimas a figcaption, .capas.cimas a figcaption:hover, .capas.cimas a figcaption:active {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .capas.baixas a figcaption, .capas.baixas a figcaption:hover, .capas.baixas a figcaption:active {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.cima {
        border-radius: 1.5em 1.5em 0 0;
    }
    .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    .igual {
        height: auto;
        max-height: 100%;
        width: 480px;
    }
    .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    .iguali {
        width: 80%;
    }
    #final {
        font-size: 1.4em;
    }
    #final h2 {
        font-size: 1.4em;
        margin: 6% 5% 5%;
    }
    .table {
        font-size: 1em;
    }
    .table {
        margin: auto;
        display: flex;
        column-span: all;
        width: max-content;
    }
    .table thead tr {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .cima {
        display: flex;
        margin: auto;
        padding: 5%;
    }
    .la {
        width: 60px;
        height: 60px;
    }
    .list {
        font-size: 1em;
        margin: 1% 5% 10%
    }
    .topo {
        width: 15%;
        right: 4%;
    }
}
