@charset "UTF-8";

@font-face {
    font-family: 'inclusao';
    src: url(../fontes/open-dyslexic.ttf) format(truetype);
}

/* A mente do site */

body {
    margin: 0;
    font-family: 'inclusao';
    width: 100%;
}

/* O corpo do site */

#cabeçalho {
    padding: 5px;
    text-align: center;
    background-color: #FFC8DD;
    color: #a479c0;
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: none;
}
.nav {
    background-color: rgb(248, 248, 248);
}
.nav ul {
    display: flex;
    gap: 3em;
    width: auto;
    align-items: center;
    margin: 0 14%;
    padding: 0.5em;
    list-style: none;
}
.nav ul li h2 {
    color: #698bac;
    font-size: 2em;
}
.nav ul li a {
    background-color: rgb(248, 248, 248);
    font-size: 1.5em;
    align-items: center;
    color: #7cc2ff;
}
.nav ul li a:hover {
    color: #698bac;
}
.nav ul li a:active {
    text-shadow: 1px 1px 2px #698bac;
}
#áreas {
    height: 2500px;
    max-width: 100%;
    background-color: rgb(248, 248, 248);
    float: left;
    padding: 15px;
    padding-left: 1%;
    padding-right: 1%;
    float: left;
    color: #698bac;
    text-align: justify;
    font-size: 0.8em;
    text-transform: none;
    letter-spacing: 1px;
    font-style: italic;
}
#áreas a {
    color: #7cc2ff;
}
#áreas a:hover {
    color: #698bac;
}
#áreas a:active {
    text-shadow: 1px 1px 2px #698bac;
} 
#conteúdo {
    text-align: center;
    font-size: 1.9em;
    color: #ff609a;
    letter-spacing: 1px;
    text-transform: none;
    min-width: 300px;
    max-width: 100%;
    height: 100%;
    line-height: 150%;
}
.coisa {
    width: 30%;
    height: auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.circulo {
    width: 50%;
    height: auto;
    background-color: rgb(248, 248, 248);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    margin-left: 5%;
}
.circulo img {
    width: 100%;
    height: 100%;
}
.retangulo {
    margin-left: -25%;
    min-width: auto;
    width: 115%;
    height: auto;
    background-color: rgb(248, 248, 248);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1%;
    text-align: left;
}
.retangulo h3 {
    color: #ff81b1;
}
.link div a h3 {
    font-size: 30px;
    text-decoration: underline;
    color: #ff81b1;
    display: inline-block;
    vertical-align: top;
    line-height: 140%;
    margin-top: 4%;
}
.link div a h3:hover {
    color: #ff609a;
}
.link div a h3:active {
    text-shadow: 5px 5px 20px #FFC8DD;
}
.igual {
    width: auto;
    min-height: 50px;
    max-height: 450px;
    border-radius: 10%;
}
.igual:hover {
    box-shadow: 0px 0px 30px 5px #FFC8DD;
}
.igual:active {
    box-shadow: 0px 0px 30px 5px #ff609a;
}
.iguali {
    width: 40%;
    height: auto;
}
.pé {
    width: 45%;
    height: auto;
}
#final {
    background-color: #FFC8DD;
    text-align: center;
    color: #a479c0;
    font-size: 1.9em;
    padding: 1px;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: bolder;
    position: absolute;
    width: 100%;
    height: auto;
    align-items: center;
}
.table {
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
    margin-bottom: auto;
    text-align: center;
    position: sticky;
    font-size: 28px;
    align-items: center;
}
.cima a h3 {
    display: inline-block;
    vertical-align: top;
    color: white;
    text-align: center;
    align-items: center;
}
.cima a h3:hover {
    color: #a479c0;
}
.contato {
    color: white;
    display: inline-block;
    vertical-align: super;
    text-decoration: underline;
    align-items: center;
}
.la {
    width: 60px;
    height: 60px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: bottom;
    align-items: center;
}
.list {
    margin-top: 0%;
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 22px;
    margin-right: 4%;
}
.list li a {
    color: white;
    text-decoration: underline;
}
.list li a:hover {
    color: #a479c0;
}

/* A responsividade do site */

@media only screen and (max-width: 600px) {
    #cabeçalho {
        font-size: 10px;
    }
    #áreas {
        font-size: 5px;
    }
    #conteúdo {
        font-size: 9px;
    }
    #final {
        font-size: 15px;
    }
    .list {
        font-size: 6px;
    }
    .table {
        font-size: 9px;
    }
    .link div a h3 {
        font-size: 6px; 
    }
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 100px;
    }
    .la {
        width: 20px;
        height: 20px;
        margin-top: 1px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .nav {
        font-size: 0.4em;
    }
    .nav ul {
        margin: 0 2%;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
}
@media only screen and (min-width: 600px) and (max-width: 650px) {
    #cabeçalho {
        font-size: 13px;
    }
    #áreas {
        font-size: 8px;
    }
    #conteúdo {
        font-size: 11px;
    }
    #final {
        font-size: 15px;
    }
    .list {
        font-size: 10px;
    }
    .table {
        font-size: 12px;
    }
    .link div a h3 {
        font-size: 6px; 
    }
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 150px;
    }
    .la {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 8px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .nav {
        font-size: 0.4em;
    }
    .nav ul {
        margin: 0 10%;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
}
@media only screen and (min-width: 650px) and (max-width: 750px) {
    #cabeçalho {
        font-size: 15px;
    }
    #áreas {
        font-size: 8px;
    }
    #conteúdo {
        font-size: 12px;
    }
    #final {
        font-size: 18px;
    }
    .list {
        font-size: 11px;
    }
    .table {
        font-size: 13px;
    }
    .link div a h3 {
        font-size: 10px; 
    }
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 150px;
    }
    .la {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav {
        font-size: 0.5em;
    }
    .nav ul {
        margin: 0 6%;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
}
@media only screen and (min-width: 750px) and (max-width: 1000px) {
    #cabeçalho {
        font-size: 20px;
    }
    #conteúdo {
        font-size: 15px;
    }
    #áreas {
        font-size: 10px;
    }
    #final {
        font-size: 23px;
    }
    .list {
        font-size: 15px;
    }
    .table {
        font-size: 16px;
    }
    .link div a h3 {
        font-size: 10px; 
    }
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 200px;
    }
    .la {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav {
        font-size: 0.6em;
    }
    .nav ul {
        margin: 0 4%;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1133px) {
    #cabeçalho {
        font-size: 20px;
    }
    #conteúdo {
        font-size: 20px;
    }
    #final {
        font-size: 23px;
    }
    .list {
        font-size: 15px;
    }
    .link div a h3 {
        font-size: 15px; 
    }
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 250px;
    }
    #áreas {
        font-size: 12px;
    }
    .table {
        font-size: 20px;
    }
    .la {
        width: 55px;
        height: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav {
        font-size: 0.7em;
    }
    .nav ul {
        margin: 0 10%;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
}
@media only screen and (min-width: 1133px) and (max-width: 1215px) {
    #conteúdo {
        font-size: 25px;
    }
    .link div a h3 {
        font-size: 20px; 
    }
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 300px;
    }
    #áreas {
        font-size: 12px;
    }
    .list {
        font-size: 18px;
    }
    .nav {
        font-size: 0.8em;
    }
    .nav ul {
        margin: 0 10%;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
}
@media only screen and (min-width: 1215px) and (max-width: 1350px) {
    #conteúdo {
        font-size: 26px;
    }
    .link div a h3 {
        font-size: 25px; 
    }
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 300px;
    }
    #áreas {
        font-size: 13px;
    }
    .nav {
        font-size: 0.9em;
    }
    .nav ul {
        margin: 0 8%;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
}
@media only screen and (min-width: 1350px) and (max-width: 1500px) {
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 350px;
    }
    .nav {
        font-size: 1em;
    }
    .nav ul {
        margin: 0 8%;
    }
    .nav ul li h2 {
        font-size: 2em;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1600px) {
    .igual {
        width: auto;
        min-height: 50px;
        max-height: 400px;
    }
}