@charset "UTF-8";

@font-face {
    font-family: 'inclusao';
    src: url(../fontes/open-dyslexic.ttf) format(truetype);
}
body {
    font-size: 1.8em;
    font-family: 'inclusao';
    text-align: center;
}
.nome {
    margin-top: -1.5%;
    margin-bottom: -1.5%;
}
.igual {
    width: 37%;
    height: auto;
}
.la {
    width: 28%;
    height: auto;
}
.pé {
    width: 21%;
    height: auto;
}
.botao {
    width: 4%;
    height: auto;
    margin-top: -5.5%;
    overflow: hidden;
    border-radius: 60%;
    margin-inline-start: 1%;
    margin-inline-end: 1%;
}
.botao:hover {
    box-shadow: 0px 0px 20px 10px #ff609a;
}
.botao:active {
    box-shadow: 0px 0px 20px 10px #FFC8DD;
}

/* A responsividade do site */

@media screen and (max-width: 600px) {
    body {
        font-size: 1.5em;
    }
    .nome {
        margin-top: -2.5%;
        margin-bottom: -4.5%;
    }
    .igual {
        width: 88%;
    }
    .la {
        width: 89%;
    }
    .pé {
        width: 80%;
    }
    .botao {
        width: 20%;
        margin-top: 1%;
        margin-inline-start: 5%;
        margin-inline-end: 5%;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    body {
        font-size: 2em;
    }
    .igual {
        width: 86%;
    }
    .la {
        width: 77%;
    }
    .pé {
        width: 60%;
    }
    .botao {
        width: 15%;
        margin-top: 1%;
        margin-inline-start: 4%;
        margin-inline-end: 4%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .igual {
        width: 86%;
    }
    .la {
        width: 77%;
    }
    .pé {
        width: 55%;
    }
    .botao {
        width: 15%;
        margin-top: 1%;
        margin-inline-start: 3%;
        margin-inline-end: 3%;
    }

}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}