<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enne Jim Pessoa</title>
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/video.css">
    <link rel="shortcut icon" href="../../../img-padrao/arco-íris.png" type="image/x-icon">
</head>
<body id="meus-videos">
    
    <header>
        <label for="texto"></label>
        <div class="nome">
            <h1 style="color: #7437E2;">Rarijack</h1>
        </div>
    </header>
    
    <main>
        <label for="vídeo e imagem"></label>
        <video controls loop class="igual" src="../videos/Rarijack.mp4" poster="../capas/Rarijack.png"></video>
    </main>
    
    <footer>
        <label for="imagem e link"></label>
        <div id="botoes">
            <a href="javascript: history.go(-1)" rel="prev">
                <img src="../../../img-padrao/volta.png" alt="Clique aqui para voltar" class="botao">
            </a>
            <a href="../videos-para-baixar/Rarijack.zip">
                <img src="../../../img-padrao/download.png" alt="Clique aqui para baixar o vídeo" class="botao">
            </a>
        </div>
    </footer>

</body>
</html>