@charset "UTF-8";

#cabeçalho {
    padding: 5px;
    text-align: center;
    background-color:rgb(255, 156, 205);
    color: rgb(87, 255, 199);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}
#áreas {
    background-color: rgb(226, 226, 226);
    float: left;
    padding: 15px;
    color: rgb(4, 0, 255);
    text-align: start;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 785px;
}
#conteúdo {
    text-align: center;
    font-size: 30px;
    height: 765px;
    color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#final {
    background-color: rgb(174, 107, 237);
    text-align: center;
    color: yellow;
    font-size: 25px;
    padding: 1px;
    height: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.table {
    margin-left: auto;
    margin-right: auto;
}