<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enne Amore - Portfólio</title>
    <link rel="shortcut icon" href="../Imagens para todas/image-editing.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/padrao.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/imagens.css">
    <!-- JavaScript -->
    <script src="https://unpkg.com/scrollreveal" defer></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/topo.js" defer></script>
    <script src="../js/aparecer.js" defer></script>
</head>
<body>

    <header id="cabecalho">

        <div id="titulo">
            <label for="texto"><h1>Edições visuais</h1></label>
        </div>

        <img id="menu" class="menu" src="../Imagens para todas/menu.png" alt="Menu de páginas" tabindex="0">

        <nav id="areas">

            <label for="texto e link"></label>
            <h2>Áreas a acessar:</h2>
            
            <ul>
                <a href="../../index.html" aria-label="Acesse a área principal" rel="prev">
                    Entrada principal
                </a>
    
                <a href="area-de-videos.html" aria-label="Acesse a área das minhas edições de vídeo">
                    Edições audiovisuais
                </a>
    
                <a href="area-de-iva.html" aria-label="Acesse a área das minhas inspirações de vídeo">
                    Inspirações de vídeo
                </a>
    
                <a href="area-de-iv.html" aria-label="Acesse a área das minhas inspirações de imagem">
                    Inspirações de imagem
                </a>
    
                <a href="conclusoes-finais.html" aria-label="Acesse a área das minhas considerações finais sobre">
                    Conclusões finais
                </a>
            </ul>

            <button type="button" id="fechar-menu" class="fechar-menu">Fechar</button>

        </nav>

        <nav class="nav" id="nav">

            <label for="texto e link"></label>

            <ul>

                <a href="#conteudo" aria-label="Sobre o que se trata esta página">Sobre</a>

                <a href="#imagens" aria-label="Imagens para apreciar">Imagens</a>

                <a href="#contatos" aria-label="Formas de me contatar">Contatos</a>

                <a href="#autorias" aria-label="Créditos de autorias de certos elementos que usei">Autorias</a>

            </ul>

        </nav>

    </header>

    <main id="conteudo">

        <section>

            <label for="texto e imagem"></label>

            <figure class="secao">
                <img src="../Imagens para todas/sobre.png" class="coisa" alt="Sobre:">
            </figure>

            <fieldset class="txt">
                <p>
                    Aqui fica as imagens feitas <strong>por mim mesme</strong> digitalmente &#x1F49C;
                </p>
                <p>
                    A ferremaneta que usei foi a plataforma chamada <a href="https://www.canva.com/pt_br/" aria-label="Link para a plataforma do Canva" rel="external" target="_blank">Canva</a> a qual possui <strong>muitos recursos gratuitos</strong> que já podemos usar como cores, figurinhas, imagens de fundo, etc.
                </p>
                <p>
                    Eu as desenvolvi com o intuito de <strong>fortalecer a humanidade das pessoas</strong> e promover o mínimo do mínimo que <strong>todas devem ter em mente!</strong>
                </p>
            </fieldset>

        </section>

        <section>

            <figure class="secao">
                <img src="../Imagens para todas/imagens a ver.png" id="imagens" alt="Imagens a ver:">
            </figure>

            <figure class="imagens">
                
                <img src="../Área de imagens editadas minhas/imagens/Belezura.PNG" alt="Você é uma belezura dos seus próprios jeitos de ser!" class="iguali">
                
                <img src="../Área de imagens editadas minhas/imagens/Autoestima.PNG" alt="Você se sentir bem é o que importa!" class="iguali">
                
            </figure>

            <figure class="imagens">

                <img src="../Área de imagens editadas minhas/imagens/Bemdenominação.jpg" alt="Todos os seres humanos precisam ser chamados pela forma que cada um quer para se referir a si próprio!" class="iguali">

                <img src="../Área de imagens editadas minhas/imagens/Todas as vidas importam.jpg" alt="Todas as vidas importam!" class="iguali">

            </figure>

            <figure class="imagens">

                <img src="../Área de imagens editadas minhas/imagens/VIDAS ÉTNICAS IMPORTAM.jpg" alt="Vidas étnicas importam!" class="iguali">

                <img src="../Área de imagens editadas minhas/imagens/VIDAS COM DEFICIÊNCIA IMPORTAM.jpg" alt="Vidas com deficiência importam!" class="iguali">

            </figure>

            <figure class="imagens">

                <img src="../Área de imagens editadas minhas/imagens/VIDAS LGBTQIANP+ IMPORTAM.jpg" alt="Todas as vidas LGBTQIANP+ importam!" class="iguali">

                <img src="../Área de imagens editadas minhas/imagens/TODOS OS TIPOS DE DIVERSADADE IMPORTAM.jpg" alt="Todos os tipos de diversidade importam!" class="iguali">

            </figure>

        </section>

        <div id="topo">
            <img class="topo" src="../Imagens para todas/topo.png" alt="Clique aqui para voltar ao topo da página" tabindex="0">
        </div>

    </main>
    
    <footer id="final">

        <section id="contatos">

            <label for="texto, imagem e link">
                <h2>Meus Contatos</h2>
            </label>

            <table class="table">
                <tbody>

                    <tr>

                        <td>
                            <div class="cima">
                                <a href="https://www.instagram.com/enne_jim10/" aria-label="Me contate pelo Instagram"
                                    target="_blank" rel="external">
                                
                                    <img src="../Imagens para todas/instagram.png" alt="" class="la">
                                
                                    <span class="contato">
                                        <abbr title="@enne_jim10" aria-label="@enne_jim10">Instagram</abbr>
                                    </span>
                                
                                </a>
                            </div>
                        </td>

                        <td>
                            <div class="cima">
                                <a href="https://discord.com/channels/@me" aria-label="Me contate pelo Discord"
                                    target="_blank" rel="external">
                                
                                    <img src="../Imagens para todas/discordia.png" alt="" class="la">
                                
                                    <span class="contato" lang="en-us">
                                        <abbr title="Enne#9035" aria-label="Enne#9035">Discord</abbr>
                                    </span>
                                
                                </a>
                            </div>
                        </td>

                        <td>
                            <div class="cima">
                                <a href="https://www.tiktok.com/@enne_jim_pessoa?is_from_webapp=1&sender_device=pc"
                                    aria-label="Me contate pelo Tik Tok" target="_blank" rel="external">
                                    
                                    <img src="../Imagens para todas/tik-tok.png" alt="" class="la">
                                    
                                    <span class="contato">
                                        <abbr title="@enne_jim_pessoa" aria-label="@enne_jim_pessoa">Tik Teko</abbr>
                                    </span>
                                
                                </a>
                            </div>
                        </td>

                    </tr>

                    <tr>

                        <td>
                            <div class="cima">
                                <a href="https://github.com/Enne-Amore" aria-label="Me contate pelo GitHub"
                                    rel="external" target="_blank">
                                    
                                    <img src="../Imagens para todas/github.png" alt="" class="la">
                                    
                                    <span class="contato">
                                        <abbr title="Enne-Amore" aria-label="Enne-Amore">GitHub</abbr>
                                    </span>

                                </a>
                            </div>
                        </td>

                        <td>
                            <div class="cima">
                                <a href="tel:+5583981448264" aria-label="Me contate pelo número de telefone"
                                    target="_blank" rel="external">
                                    
                                    <img src="../Imagens para todas/telefone.png" alt="" class="la">
                                    
                                    <span class="contato">
                                        <abbr title="(83) 981448264" aria-label="(83) 981448264">Telefone</abbr>
                                    </span>

                                </a>
                            </div>
                        </td>

                        <td>
                            <div class="cima">
                                <a href="https://www.linkedin.com/in/enne-jim-pessoa-b90a18231"
                                    aria-label="Me contate pelo Linkedin" target="_blank" rel="external">
                                    
                                    <img src="../Imagens para todas/linkedin.png" alt="" class="la">
                                    
                                    <span class="contato">
                                        <abbr title="Enne Jim Pessoa" aria-label="Enne Jim Pessoa">Linkedin</abbr>
                                    </span>

                                </a>
                            </div>
                        </td>

                    </tr>

                    <tr>

                        <td colspan="2%">
                            <div class="cima">
                                <a href="mailto:ennefofe10@gmail.com"
                                    aria-label="Me contate pelo meu email do Google Gmail" target="_blank"
                                    rel="external">
                                    
                                    <img src="../Imagens para todas/email.png" alt="" class="la">
                                    
                                    <span class="contato" lang="en-us">
                                        <abbr title="EnneFofe10@gmail.com"
                                            aria-label="EnneFofe10@gmail.com">Email</abbr>
                                    </span>

                                </a>
                            </div>
                        </td>

                        <td colspan="1%">
                            <div class="cima">
                                <a href="https://www.facebook.com/people/Enne-Jim-Pessoa/pfbid0aQ6yJzDEVnNtwyvhJpWuwZpj3WJCVeGaacUncsjyKa69tKhu13Ng9Nd64FHmxzwwl/"
                                    aria-label="Me contate pelo Facebook" target="_blank" rel="external">

                                    <img src="../Imagens para todas/facebook.png" alt="" class="la">

                                    <span class="contato" lang="en-us">
                                        <abbr title="Enne Jim Pessoa" aria-label="Enne Jim Pessoa">Facebook</abbr>
                                    </span>

                                </a>
                            </div>
                        </td>

                    </tr>

                </tbody>
            </table>

        </section>

        <section id="autorias">
            <label for="texto e link">
                <h2>Direitos autorais de:</h2>
            </label>

            <ul class="list">

                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/instagram" aria-label="Autoria daquele ícone do Instagram" title="instagram ícones" target="_blank" rel="external">
                        Instagram ícones criados por <span lang="en-us">Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/discordia" aria-label="Autoria daquele ícone do Discord" target="_blank" rel="external" title="discordia ícones">
                        Discordia ícones criados por <span lang="en-us">Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/tiktok" aria-label="Autoria daquele ícone do Tik Tok" target="_blank" rel="external" title="tiktok ícones">
                        Tiktok ícones criados por <span lang="en-us">Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/facebook"  aria-label="Autoria daquele ícone do Facebook" target="_blank" rel="external" title="facebook ícones">
                        <span lang="en-us">Facebook</span> ícones criados por <span lang="en">Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://br.pinterest.com/pin/827606869011836550/" aria-label="Autoria da seta neon de voltar das páginas exclusivas de vídeo" target="_blank" rel="external">
                        Seta neon de voltar
                    </a>
                </li>

                <li>
                    <a href="https://www.canva.com/" aria-label="Ferramenta de criação de imagens que usei" target="_blank" rel="external">
                        Imagens de afins
                    </a>
                </li>

                <li>
                    <a href="https://www.pexels.com/pt-br/" aria-label="Autoria das imagens de fundo das páginas exclusivas de vídeo" target="_blank" rel="external">
                        Planos de fundo
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/video-editing" aria-label="Autoria daquele ícone de vídeo" title="video editing icons" target="_blank" rel="external">
                        <span lang="en-us">Video editing icons created by Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/editor" aria-label="Autoria daquele ícone de edição de vídeo" target="_blank" rel="external" title="editor icons">
                        <span lang="en-us">Editor icons created by Hilmy Abiyyu A. - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/heart" aria-label="Autoria daquele ícone do coração rosa" title="heart icons" target="_blank" rel="external">
                        <span lang="en-us">Heart icons created by Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/pride" aria-label="Autoria daquele ícone do arco-íris do orgulho" title="pride icons" target="_blank" rel="external">
                        <span lang="en-us">Pride icons created by Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/gmail" aria-label="Autoria daquele ícone de gmail" title="gmail icons" target="_blank" rel="external">
                        <span lang="en-us">Gmail icons created by Lizel Arina - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/telephone" aria-label="Autoria daquele ícone de telefone" title="telephone icons" target="_blank" rel="external">
                        <span lang="en-us">Telephone icons created by Graphix's Art - Flaticon</span>
                    </a>
                </li>

                <li>
                    Foto de

                    <a href="https://unsplash.com/@nejc_soklic?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" aria-label="Sobre a autoria Nejc Soklič" target="_blank" rel="external">
                        Nejc Soklič
                    
                    </a>
                    na 
                    
                    <a href="https://unsplash.com/pt-br/fotografias/wO42Rmamef8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" aria-label="Plataforma Unsplash" target="_blank" rel="external">
                        <span lang="en-us">Unsplash</span>
                    
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/github" aria-label="Autoria daquele ícone do GitHub" title="github icons">
                        <span lang="en-us">Github icons created by Laisa Islam Ani - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.bing.com/images/create?FORM=GENILP" aria-label="Ferramenta usada para criar as imagens da última página por inteligência Artificial" target="_blank" rel="external">
                        Imagens de inteligência artificial
                    </a>
                </li>

        </section>

    </footer>

</body>
</html>