<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ênibes</title>
    <link rel="stylesheet" href="../css/video.css">
    <link rel="shortcut icon" href="../Imagens para todas/arco-íris.png" type="image/x-icon">
</head>
<body id="inspiracoes-audiovisuais">
    <header>
        <label for="texto"></label>
        <div class="nome">
            <h1 style="color: rgb(255, 251, 0);">Ênibes</h1>
        </div>
    </header>
    <main>
        <label for="vídeo e imagem"></label>
        <video controls src="../Inspirações minhas de vídeo/videos/Ênibes.mp4" poster="../Inspirações minhas de vídeo/capas/ênibes.jpg" class="la"></video>
    </main>
    <footer>
        <label for="imagem e link"></label>
        <p>
            <a href="javascript: history.go(-1)" rel="prev"><img src="../Imagens para todas/Volta.png" alt="Clique aqui para voltar" class="botao"></a>
            <a href="../Inspirações minhas de vídeo/videos para baixar/Ênibes.zip"><img src="../Imagens para todas/download.png" alt="Clique aqui para baixar o vídeo" class="botao"></a>
        </p>
    </footer>
</body>
</html>