<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enne Amore - Portfólio</title>
    <link rel="shortcut icon" href="../img-padrao/heart.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/padrao.css">
    <link rel="stylesheet" href="../css/websites.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Ícones -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- JavaScript -->
    <script src="https://unpkg.com/scrollreveal" defer></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/topo.js" defer></script>
    <script src="../js/aparecer.js" defer></script>
    <script src="../js/sites.js" defer></script>
</head>
<body>
    <header id="cabecalho">
        <div id="titulo">
            <label for="texto"><h1>Meus websites</h1></label>
        </div>

        <img id="menu" class="menu" src="../img-padrao/menu.png" alt="Menu de páginas" tabindex="0">

        <nav id="areas">
            <label for="texto, link e botão"></label>
            
            <h2>Áreas a acessar:</h2>
            
            <ul>
                <a href="../../index.html" aria-label="Acesse a área principal" rel="prev" class="page">
                    Entrada principal
                </a>
    
                <a href="area-de-videos.html" aria-label="Acesse a área das minhas edições de vídeo" class="page">
                    Edições audiovisuais
                </a>
    
                <a href="area-de-imagens.html" aria-label="Acesse a área das minhas criações de imagem" class="page">
                    Edições visuais
                </a>
    
                <a href="conclusoes-finais.html" aria-label="Acesse a área das minhas conclusões finais sobre" class="page">
                    Conclusões finais
                </a>
            </ul>

            <button type="button" id="fechar-menu" class="fechar-menu"> Fechar </button>
        </nav>

        <nav class="nav" id="nav">
            <label for="texto e link"></label>

            <ul>
                <a href="#sobre" aria-label="Sobre o que se trata esta página"> 
                    Sobre
                </a>

                <a href="#sites" aria-label="Sites que desenvolvi a ver">
                    Sites
                </a>
                
                <a href="#contatos" aria-label="Formas de me contatar">
                    Contatos
                </a>
                
                <a href="#autorias" aria-label="Créditos de autorias de certos elementos que usei">
                    Autorias
                </a>
            </ul>
        </nav>
    </header>

    <main id="conteudo">
        <section id="sobre">
            <label for="texto, imagem e link"></label>
            
            <figure class="secao">
                <img src="../img-padrao/sobre.png" alt="Sobre:">
            </figure>

            <fieldset class="txt">
                <p>
                    Como o meu foco em procurar emprego é trabalhar como ume <strong>desenvolvedore front-end,</strong> então costumo construir projetos para mostrar o meu potencial e conhecimento a quem pode desejar me contratar algum dia. Dessa forma, faço <strong>websites</strong> focados em mostrar a parte <strong>visual e interativa</strong> do site.
                </p>

                <p>
                    A plataforma que mais uso para codar se chama <a href="https://code.visualstudio.com/" aria-label="Link para o site do VS Code" rel="external" target="_blank"> Visual Studio Code </a> a qual é um ótimo ambiente de desenvolvimento integrado de ser utilizado em minha área. Ademais, utilizo <a href="https://github.com/" aria-label="Link para o site do GitHub" rel="external" target="_blank"> GitHub </a> com o recurso <a href="https://pages.github.com/" aria-label="Link para o site do GitHub Pages" rel="external" target="_blank"> GitHub Pages </a> ativado para hospedar os meus websites a fim de todes que têm acesso à internet poderem ver.
                </p>
            </fieldset>
        </section>

        <section id="sites">
            <label for="texto e imagem"></label>

            <figure class="secao">
                <img src="../img-padrao/sites-a-ver.png" alt="Sites a ver">
            </figure>

            <article class="sites">
                <!-- Cada site em uma div de tela -->
                <div class="tela">
                    <!-- Seleção de tela responsiva -->
                    <div class="btn-responsive">
                        <h3>Responsividade:</h3>
                        
                        <div class="botoes">
                            <a href="meus-websites/frames/dhms-desktop.html" target="tela-dhms" class="material-symbols-outlined sr-only a-btn-responsive" id="desktop" aria-hidden="true" aria-label="Veja a tela para computador clincado aqui">
                                <abbr title="Tela Para Computador">computer</abbr>
                            </a>

                            <a href="meus-websites/frames/dhms-mobile.html" target="tela-dhms" class="material-symbols-outlined sr-only a-btn-responsive" id="mobile" aria-hidden="true" aria-label="Veja a tela para celular clicando aqui">
                                <abbr title="Tela Para Celular">smartphone</abbr>
                            </a>
                        </div>
                    </div>

                    <div class="site">
                        <!-- Tela sendo apresentada -->
                        <iframe src="meus-websites/frames/dhms-desktop.html" name="tela-dhms" frameborder="1">
                            <p>
                                Infelizmente, não há compatibilidade.
                            </p>
                        </iframe>
                        <!-- Botões de acesso ao projeto -->
                        <div class="btn-site">
                            <a href="https://enne-amore.github.io/Do-not-hug-I-am-scared/" aria-label="Botão de acesso ao site" id="site" rel="external" target="_blank">
                                <span class="material-symbols-outlined sr-only" aria-hidden="true">
                                    public
                                </span>
                                Acessar Site
                            </a>
                            <a href="https://github.com/Enne-Amore/Do-not-hug-I-am-scared/" aria-label="Botão de acesso ao repositório do site" id="repository" rel="external" target="_blank">
                                <span class="material-symbols-outlined sr-only" aria-hidden="true">
                                    folder
                                </span>
                                Ver Repositório
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Ícones para selecionar site -->
                <div id="btn-sites">
                    <button
                      type="button"
                      class="icone selecionado" 
                      data-desktop="meus-websites/frames/dhms-desktop.html"
                      data-mobile="meus-websites/frames/dhms-mobile.html" 
                      data-site="https://enne-amore.github.io/Do-not-hug-I-am-scared/" 
                      data-repository="https://github.com/Enne-Amore/Do-not-hug-I-am-scared/"
                    >
                        <abbr title="Não Me Abrace, Estou Assustado">
                            <img src="meus-websites/img/dhms-icon.ico" alt="Logo do site Não Me Abrace, Estou Assustado">
                        </abbr>
                    </a>
                    
                    <button
                      type="button"
                      class="icone" 
                      data-desktop="meus-websites/frames/form-desktop.html" 
                      data-mobile="meus-websites/frames/form-mobile.html" 
                      data-site="https://enne-amore.github.io/Formulario/" 
                      data-repository="https://github.com/Enne-Amore/Formulario/"
                    >
                        <abbr title="Formulário">
                            <img src="meus-websites/img/formulario-icon.png" alt="Logo do site Formulário">
                        </abbr>
                    </button>
                    
                    <button
                      type="button"
                      class="icone" 
                      data-desktop="meus-websites/frames/lista-de-tarefas-desktop.html" 
                      data-mobile="meus-websites/frames/lista-de-tarefas-mobile.html" 
                      data-site="https://enne-amore.github.io/lista-de-tarefas/" 
                      data-repository="https://github.com/Enne-Amore/lista-de-tarefas/"
                    >
                        <abbr title="Lista De Tarefas">
                            <img src="meus-websites/img/lista-de-tarefas-icon.png" alt="Logo do site Lista De Tarefas">
                        </abbr>
                    </button>
                    
                    <button
                      type="button"
                      class="icone" 
                      data-desktop="meus-websites/frames/miraculous-desktop.html" 
                      data-mobile="meus-websites/frames/miraculous-mobile.html" 
                      data-site="https://enne-amore.github.io/Miraculous/" 
                      data-repository="https://github.com/Enne-Amore/Miraculous/"
                    >
                        <abbr title="Miraculous">
                            <img src="meus-websites/img/miraculous-icon.ico" alt="Logo do site Miraculous">
                        </abbr>
                    </button>

                    <button
                      type="button"
                      class="icone" 
                      data-desktop="meus-websites/frames/obras-recomendadas-desktop.html" 
                      data-mobile="meus-websites/frames/obras-recomendadas-mobile.html" 
                      data-site="https://enne-amore.github.io/Obras-Recomendadas/" 
                      data-repository="https://github.com/Enne-Amore/Obras-Recomendadas/"
                    >
                        <abbr title="Obras Recomendadas">
                            <img src="meus-websites/img/obras-recomendadas-icon.png" alt="Logo do site Obras Recomendadas">
                        </abbr>
                    </button>

                    <button
                      type="button"
                      class="icone" 
                      data-desktop="meus-websites/frames/star-wars-desktop.html" 
                      data-mobile="meus-websites/frames/star-wars-mobile.html" 
                      data-site="https://enne-amore.github.io/workshop-frontend-2023.2/" 
                      data-repository="https://github.com/Enne-Amore/workshop-frontend-2023.2"
                    >
                        <abbr title="Star Wars">
                            <img src="meus-websites/img/star-wars-icon.png" alt="Logo do site Star Wars">
                        </abbr>
                    </button>

                    <button
                      type="button"
                      class="icone" 
                      data-desktop="meus-websites/frames/android-desktop.html" 
                      data-mobile="meus-websites/frames/android-mobile.html" 
                      data-site="https://enne-amore.github.io/Android/" 
                      data-repository="https://github.com/Enne-Amore/Android/"
                    >
                        <abbr title="Android">
                            <img src="meus-websites/img/android-icon.ico" alt="Logo do site Android">
                        </abbr>
                    </button>

                    <button
                      type="button"
                      class="icone" 
                      data-desktop="meus-websites/frames/cordel-moderno-desktop.html" 
                      data-mobile="meus-websites/frames/cordel-moderno-mobile.html" 
                      data-site="https://enne-amore.github.io/Cordel-Moderno/" 
                      data-repository="https://github.com/Enne-Amore/Cordel-Moderno/"
                    >
                        <abbr title="Cordel Moderno">
                            <img src="meus-websites/img/cordel-morderno-icon.png" alt="Logo do site Cordel Moderno">
                        </abbr>
                    </button>

                    <button
                      type="button"
                      class="icone" 
                      data-desktop="meus-websites/frames/cidadania-queer-desktop.html" 
                      data-mobile="meus-websites/frames/cidadania-queer-mobile.html" 
                      data-site="https://enne-amore.github.io/cidadania-queer/" 
                      data-repository="https://github.com/Enne-Amore/cidadania-queer/"
                    >
                        <abbr title="Cordel Moderno">
                            <img src="meus-websites/img/cidadania-queer-icon.png" alt="Logo do site Centro De Cidadania LGBT+">
                        </abbr>
                    </button>
                </div>
            </article>
        </section>

        <!-- Botão de topo -->
        <div id="topo">
            <img class="topo" src="../img-padrao/topo.png" alt="Clique aqui para voltar ao topo da página" tabindex="0">
        </div>
    </main>
    
    <footer id="final">
        <section id="contatos">
            <label for="texto, imagem e link">
                <h2>Meus Contatos</h2>
            </label>

            <table class="table">
                <tbody>
                    <tr>
                        <td class="cima">
                            <a href="https://www.linkedin.com/in/enne-jim-pessoa" aria-label="Me contate pelo Linkedin" target="_blank" rel="external">
                                <img src="../img-padrao/linkedin.png" alt="" class="la">
                                
                                <span class="contato">
                                    <abbr title="Enne Jim Pessoa" aria-label="Enne Jim Pessoa">Linkedin</abbr>
                                </span>
                            </a>
                        </td>

                        <td class="cima">
                            <a href="https://github.com/Enne-Amore" aria-label="Me contate pelo GitHub" rel="external" target="_blank">
                                <img src="../img-padrao/github.png" alt="" class="la">
                                
                                <span class="contato">
                                    <abbr title="Enne-Amore" aria-label="Enne-Amore">GitHub</abbr>
                                </span>
                            </a>
                        </td>

                        <td class="cima">
                            <a href="mailto:ennefofe10@gmail.com" aria-label="Me contate pelo meu email do Google Gmail" target="_blank" rel="external">
                                <img src="../img-padrao/email.png" alt="" class="la">
                                
                                <span class="contato" lang="en-us">
                                    <abbr title="EnneFofe10@gmail.com"
                                        aria-label="EnneFofe10@gmail.com">Email</abbr>
                                </span>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="cima">
                            <a href="tel:+5583981448264" aria-label="Me contate pelo número de telefone" target="_blank" rel="external">
                                <img src="../img-padrao/telefone.png" alt="" class="la">
                                
                                <span class="contato">
                                    <abbr title="(83) 981448264" aria-label="(83) 981448264">Telefone</abbr>
                                </span>
                            </a>
                        </td>

                        <td class="cima">
                            <a href="https://www.instagram.com/enne_jim10/" aria-label="Me contate pelo Instagram" target="_blank" rel="external">
                                <img src="../img-padrao/instagram.png" alt="" class="la">
                            
                                <span class="contato">
                                    <abbr title="@enne_jim10" aria-label="@enne_jim10">Instagram</abbr>
                                </span>
                            </a>
                        </td>
                        
                        <td class="cima">
                            <a href="https://discord.com/channels/@me" aria-label="Me contate pelo Discord" target="_blank" rel="external">
                                <img src="../img-padrao/discordia.png" alt="" class="la">
                            
                                <span class="contato" lang="en-us">
                                    <abbr title="Enne#9035" aria-label="Enne#9035">Discord</abbr>
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="autorias">
            <label for="texto e link">
                <h2>Direitos autorais de:</h2>
            </label>

            <ul class="list">

                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/instagram" aria-label="Autoria daquele ícone do Instagram" title="instagram ícones" target="_blank" rel="external">
                        Instagram ícones criados por <span lang="en-us">Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/discordia" aria-label="Autoria daquele ícone do Discord" target="_blank" rel="external" title="discordia ícones">
                        Discordia ícones criados por <span lang="en-us">Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/tiktok" aria-label="Autoria daquele ícone do Tik Tok" target="_blank" rel="external" title="tiktok ícones">
                        Tiktok ícones criados por <span lang="en-us">Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/facebook"  aria-label="Autoria daquele ícone do Facebook" target="_blank" rel="external" title="facebook ícones">
                        <span lang="en-us">Facebook</span> ícones criados por <span lang="en">Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://br.pinterest.com/pin/827606869011836550/" aria-label="Autoria da seta neon de voltar das páginas exclusivas de vídeo" target="_blank" rel="external">
                        Seta neon de voltar
                    </a>
                </li>

                <li>
                    <a href="https://www.canva.com/" aria-label="Ferramenta de criação de imagens que usei" target="_blank" rel="external">
                        Imagens de afins
                    </a>
                </li>

                <li>
                    <a href="https://www.pexels.com/pt-br/" aria-label="Autoria das imagens de fundo das páginas exclusivas de vídeo" target="_blank" rel="external">
                        Planos de fundo
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/video-editing" aria-label="Autoria daquele ícone de vídeo" title="video editing icons" target="_blank" rel="external">
                        <span lang="en-us">Video editing icons created by Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/editor" aria-label="Autoria daquele ícone de edição de vídeo" target="_blank" rel="external" title="editor icons">
                        <span lang="en-us">Editor icons created by Hilmy Abiyyu A. - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/heart" aria-label="Autoria daquele ícone do coração rosa" title="heart icons" target="_blank" rel="external">
                        <span lang="en-us">Heart icons created by Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/pride" aria-label="Autoria daquele ícone do arco-íris do orgulho" title="pride icons" target="_blank" rel="external">
                        <span lang="en-us">Pride icons created by Freepik - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/gmail" aria-label="Autoria daquele ícone de gmail" title="gmail icons" target="_blank" rel="external">
                        <span lang="en-us">Gmail icons created by Lizel Arina - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/telephone" aria-label="Autoria daquele ícone de telefone" title="telephone icons" target="_blank" rel="external">
                        <span lang="en-us">Telephone icons created by Graphix's Art - Flaticon</span>
                    </a>
                </li>

                <li>
                    Foto de

                    <a href="https://unsplash.com/@nejc_soklic?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" aria-label="Sobre a autoria Nejc Soklič" target="_blank" rel="external" style="padding: 0.1em;">
                        Nejc Soklič
                    
                    </a>
                    na 
                    
                    <a href="https://unsplash.com/pt-br/fotografias/wO42Rmamef8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" aria-label="Plataforma Unsplash" target="_blank" rel="external" style="padding: 0.1em;">
                        <span lang="en-us">Unsplash</span>
                    
                    </a>
                </li>

                <li>
                    <a href="https://www.flaticon.com/free-icons/github" aria-label="Autoria daquele ícone do GitHub" title="github icons">
                        <span lang="en-us">Github icons created by Laisa Islam Ani - Flaticon</span>
                    </a>
                </li>

                <li>
                    <a href="https://www.bing.com/images/create?FORM=GENILP" aria-label="Ferramenta usada para criar as imagens da última página por inteligência Artificial" target="_blank" rel="external">
                        Imagens de inteligência artificial
                    </a>
                </li>

        </section>

    </footer>
    
</body>
</html>