<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunset Shimmer</title>
    <link rel="stylesheet" href="../css/video.css">
    <link rel="shortcut icon" href="../Imagens para todas/arco-íris.png" type="image/x-icon">
</head>
<body id="meus-videos">
    <header>
        <label for="texto"></label>
        <div class="nome">
            <h1 style="color: rgb(255, 196, 0);">Sunset Shimmer</h1>
        </div>
    </header>
    <main>
        <label for="vídeo e imagem"></label>
        <video controls class="la" src="../Área de vídeos editados meus/videos/Sunset Shimmer.mp4" poster="../Área de vídeos editados meus/capas/Sunset Shimmer 1.jpg"></video>
    </main>
    <footer>
        <label for="imagem e link"></label>
        <p>
            <a href="javascript: history.go(-1)" rel="prev"><img src="../Imagens para todas/Volta.png" alt="Clique aqui para voltar" class="botao"></a>
            <a href="../Área de vídeos editados meus/videos para baixar/Sunset Shimmer.zip"><img src="../Imagens para todas/download.png" alt="Clique aqui para baixar o vídeo" class="botao"></a>
        </p>
    </footer>
</body>
</html>