@charset "UTF-8";

/* A mente do site */
body {
    font-size: 1.5vw;
    max-width: 100vw;
    height: auto;
    animation: aparecer 0.5s ease-out ;
}
:root {
    --azul-claro: #7cc2ff;
    --azul-escuro: #698bac;
    --azul-transparente: #7cc2ff48;
    --rosa-claro: #FFC8DD;
    --rosa: #ff81b1;
    --rosa-escuro: #ff609a;
    --cinza-claro: #f8f8f8;
    --roxo: #a479c0;
}

/* O corpo do site */
/* E o seu cabeçalho */

#cabecalho {
    position: relative;
}
#cabecalho #titulo {
    padding: 4.5% 0 4%;
    background-color: var(--rosa-claro);
    color: var(--roxo);
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cabecalho #titulo h1 {
    width: max-content;
    margin-left: 3%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.123);
}
#cabecalho .menu {
    position: absolute;
    width: 13%;
    height: auto;
    top: 2%;
    left: 1%;
    cursor: pointer;
    border-radius: 50% 50% 100% 100%;
    transition-duration: .6s;
}
#cabecalho .menu:focus-visible {
    outline: 2px solid var(--roxo);
}
#cabecalho .nav {
    background-color: var(--cinza-claro);
}
#cabecalho .nav ul {
    font-size: 1.1em;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: auto 6%;
}
#cabecalho .nav ul a {
    color: var(--azul-claro);
    padding: 2.5% 0;
    font-size: 1.3em;
    font-weight: bolder;
    border-radius: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.048);
    transition-duration: .6s;
}
#cabecalho .nav ul a:hover,
#cabecalho .nav ul a:focus-visible {
    background-color: var(--azul-escuro);
    color: white;
    padding: 2.5% 3%;
    transition-duration: .6s;
}
#cabecalho .nav ul a:active {
    background-color: var(--azul-claro);
    color: var(--cinza-claro);
    transition-duration: .2s;
}

/* O menu de páginas do site */

#areas {
    position: fixed;
    height: 100vh;
    width: max-content;
    background-color: var(--cinza-claro);
    color: var(--azul-escuro);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.075);
    padding: 3%;
    padding-left: 2.5%;
    text-align: left;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
    top: 0;
    left: -80%;
    opacity: 0;
    z-index: 1;
    transition-duration: .8s;
}
#areas h2 {
    margin-bottom: 10%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.048);
}
#areas ul {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}
#areas ul a {
    box-sizing: content-box;
    display: none;
    color: var(--azul-claro);
    width: 100%;
    padding: 0 1%;
    font-size: 1.2em;
    font-weight: bolder;
    transition-duration: .6s;
}
#areas ul a:hover,
#areas ul a:focus-visible {
    color: var(--cinza-claro);
    background-color: var(--azul-escuro);
    transition-duration: .6s;
    border-radius: 1em;
    padding: 4% 3% 3%;
}
#areas ul a:active {
    color: var(--cinza-claro);
    background-color: var(--azul-claro);
    transition-duration: .1s;
}
#areas .fechar-menu {
    display: none;
    border: 0;
    justify-content: center;
    background-color: var(--azul-escuro);
    color: white;
    font-size: 1.4em;
    font-family: 'inclusao';
    font-weight: bolder;
    padding: 4% 10% 3.5%;
    margin: 10% auto 0;
    border-radius: 1em;
    cursor: pointer;
    transition-duration: .4s;
}
#areas .fechar-menu:hover,
#areas .fechar-menu:focus-visible {
    background-color: var(--azul-claro);
}
#areas .fechar-menu:active {
    background-color: var(--azul-transparente);
    color: var(--azul-claro);
    transition: .2s;
}

/* O conteúdo do site */

#conteudo {
    color: var(--rosa-escuro);
    letter-spacing: 1px;
    text-transform: none;
    font-size: 1.2em;
}
#conteudo .secao img {
    background-color: var(--cinza-claro);
    width: 30%;
    height: auto;
    margin-top: 0.2em;
}
#conteudo .txt {
    margin: auto 10% 5%;
    padding: 1% 2%;
    line-height: 1.7em;
    text-indent: 5%;
    text-align: justify;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.199);
    font-weight: bolder;
}
#conteudo .txt p {
    margin: 1.5% 0;
}
#conteudo .txt strong {
    background-image: linear-gradient(to right, var(--azul-transparente), white);
    padding: 0.3% 0.6%;
    border-radius: 1em;
}
#conteudo .txt strong:nth-child(2n) {
    background-image: linear-gradient(to right, white, var(--azul-transparente));
}
#conteudo .txt a::after {
    content: '\1F517';
}
#conteudo .txt a {
    color: var(--azul-escuro);
    text-decoration: underline;
    transition-duration: .2s;
}
#conteudo .txt a:focus-visible {
    outline: auto;
    padding: 0.2em;
}
#conteudo .txt a:hover,
#conteudo .txt a:focus-visible {
    text-decoration: underline;
    color: var(--azul-claro);
}
#conteudo .txt a:active {
    color: var(--roxo);
}
#conteudo .parte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    gap: 4%;
}
#conteudo .parte .circulo {
    width: 26%;
    height: auto;
    background-color: var(--cinza-claro);
    border-radius: 10em;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.116);
}
#conteudo .parte .retangulo {
    color: var(--rosa);
    background-color: var(--cinza-claro);
    border-radius: 1em;
    padding: 2%;
    width: min-content;
}
#conteudo .parte .retangulo h2 {
    margin: 2% 0;
    width: max-content;
    height: auto;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.048);
}
#conteudo .parte .retangulo p {
    width: 35vw;
    font-weight: bold;
    line-height: 1.5em;
}
#conteudo .parte .retangulo.direito h2,
#conteudo .parte .retangulo.direito p,
#conteudo .parte .retangulo.direito .feituras {
    text-align: left;
}
#conteudo .parte .retangulo.esquerdo h2, 
#conteudo .parte .retangulo.esquerdo p, 
#conteudo .parte .retangulo.esquerdo .feituras {
    text-align: right;
}
#conteudo .parte .retangulo .feituras {
    list-style: none;
    width: fit-content;
}
#conteudo .parte .retangulo .feituras li {
    padding-bottom: 2%;
}
#conteudo .parte .retangulo .feituras li:nth-last-child(1) {
    padding-bottom: 1.5%;
}
#conteudo .parte .retangulo .feituras li::before {
    content: "💟 ";
}

#conteudo .videos-a-ver section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
    margin: 5% auto;
}
#conteudo .videos-a-ver .capas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
}
#conteudo .videos-a-ver .capas.cimas .video, 
#conteudo .videos-a-ver .capas.baixas .video {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
    margin: 0;
    text-decoration: none;
    border-radius: 2em;
}
#conteudo .videos-a-ver .capas.cimas .video figcaption, 
#conteudo .videos-a-ver .capas.baixas .video figcaption {
    color: white;
    background-color: var(--azul-claro);
    border-radius: 0.9em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
    transition-duration: .6s;
    padding: 3% 2% 2%;
    margin: 8% 2%;
    height: max-content;
}
#conteudo .videos-a-ver .capas .video figcaption:hover, 
#conteudo .videos-a-ver .capas .video:focus-visible figcaption {
    color: white;
    background-color: var(--rosa);
    border-radius: 0.9em;
    transition-duration: .4s;
}
#conteudo .videos-a-ver .capas .video figcaption:active {
    background-color: var(--rosa-claro);
    color: var(--cinza-claro);
    transition-duration: .2s;
}
#conteudo .videos-a-ver .capas .igual {
    background-color: var(--cinza-claro);
    width: auto;
    max-height: 400px;
    border-radius: 1.5em;
    transition-duration: .6s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.212);
}
#conteudo .videos-a-ver .capas .igual:hover,
#conteudo .videos-a-ver .capas .video:focus-visible .igual {
    box-shadow: 0px 0px 30px 1px var(--rosa);
    transition-duration: .2s;
}
#conteudo .videos-a-ver .capas .igual:active {
    box-shadow: 0px 0px 30px 1px var(--rosa-escuro);
    transition-duration: .1s;
}

#conteudo .imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 4% 5%;
}
#conteudo .imagens .iguali {
    background-color: var(--cinza-claro);
    width: 40%;
    height: auto;
    max-height: 90vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);
    border-radius: 1em;
}
#conteudo .especial img {
    background-color: var(--cinza-claro);
    width: 38%;
    height: auto;
    margin-top: 1em;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.055);
    position: static;
}
#conteudo .topo {
    width: 6%;
    height: auto;
    right: 1%;
    bottom: 5%;
    position: fixed;
    cursor: pointer;
    border-radius: 60%;
    transition-duration: .1s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);
}
#conteudo .topo:focus-visible {
    outline: auto;
}
#conteudo .topo:hover,
#conteudo .topo:focus-visible {
    box-shadow: 0px 0px 15px 1px var(--rosa-escuro);
    transition-duration: .1s;
}
#conteudo .topo:active {
    box-shadow: 0px 0px 15px 1px var(--rosa-claro);
    transition-duration: .1s;
}

/* O rodapé do site */

#final {
    background-color: var(--rosa-claro);
    color: var(--roxo);
    text-transform: none;
    letter-spacing: 1px;
    font-weight: bolder;
    width: 100%;
    height: max-content;
    align-items: center;
    font-size: 1.5em;
    padding-bottom: 4%;
}
#final h2 {
    padding: 4%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.123);
}
#final #contatos .table {
    margin: -0.6em auto 5%;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    position: static;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);
    width: 80%;
}
#final #contatos .table tbody tr td {
    border: 0.3em double var(--azul-claro);
}
#final #contatos .cima {
    display: flex;
    justify-content: center;
    padding: 1%;
}
#final #contatos .cima a {
    display: flex;
    align-items: center;
    gap: 3%;
    color: white;
    transition-duration: .6s;
    border-radius: 0.5em;
    padding: 2%;
}
#final #contatos .cima a .la {
    align-items: center;
    display: flex;
    width: 60px;
    height: 60px;
    margin: 0 0.3em;
}
#final #contatos .cima a .contato {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .6s;
    border-radius: 0.5em;
    color: white;
    padding: 3%;
    margin: 0 -5%;
}
#final #contatos .cima a .contato:hover,
#final #contatos .cima a:focus-visible .contato {
    background-color: var(--roxo);
    color: white;
    transition-duration: .2s;
}
#final #contatos .cima a .contato:active {
    color: var(--cinza-claro);
    background-color: var(--rosa-escuro);
    transition-duration: .2s;
}
#final #autorias {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}
#final #autorias .list {
    list-style: none;
    columns: 4;
    gap: 1.5em;
    margin: 0 8%;
}
#final #autorias .list li {
    margin-bottom: 30%;
    text-align: start;
    color: white;
}
#final #autorias .list li a {
    color: white;
    transition-duration: .6s;
    border-radius: 0.4em;
    display: block;
    width: fit-content;
    padding: 1%;
}
#final #autorias .list li a:hover,
#final #autorias .list li a:focus-visible {
    background-color: var(--roxo);
    color: white;
    transition-duration: .2s;
}
#final #autorias .list li a:active  {
    color: var(--cinza-claro);
    background-color: var(--rosa-escuro);
    transition-duration: .2s;
}
