#conteudo .imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 4% 5%;
}

#conteudo .imagens .iguali {
    background-color: var(--cinza-claro);
    width: 40%;
    height: auto;
    max-height: 90vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.212);
    border-radius: 1em;
    transition: .4s ease-out;
}
#conteudo .imagens .iguali:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 0px var(--rosa-claro);
}
