@charset "UTF-8";

/* A mente do site */
body {
    font-size: 1.5vw;
    max-width: 100vw;
    height: auto;
}

/* Cabeçalho */
#cabecalho {
    position: relative;
}

#cabecalho #titulo {
    padding: 4.5% 0 4%;
    background-color: var(--rosa-claro);
    color: var(--roxo);
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecalho #titulo h1 {
    width: max-content;
    margin-left: 3%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.123);
}

/* Menu de seções */
#cabecalho .menu {
    position: absolute;
    width: 13%;
    height: auto;
    top: 2%;
    left: 1%;
    cursor: pointer;
    border-radius: 50% 50% 100% 100%;
    transition-duration: .6s;
}
#cabecalho .menu:focus-visible {
    outline: 2px solid var(--roxo);
}

#cabecalho .nav {
    background-color: var(--cinza-claro);
}

#cabecalho .nav ul {
    font-size: 1.1em;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: auto 6%;
}

#cabecalho .nav ul a {
    color: var(--azul-claro);
    padding: 2.5% 0;
    font-size: 1.3em;
    font-weight: bolder;
    border-radius: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.048);
    transition-duration: .6s;
}
#cabecalho .nav ul a:hover,
#cabecalho .nav ul a:focus-visible {
    background-color: var(--azul-escuro);
    color: white;
    padding: 2.5% 3%;
    transition-duration: .6s;
}
#cabecalho .nav ul a:active {
    background-color: var(--azul-claro);
    color: var(--cinza-claro);
    transition-duration: .2s;
}

/* Menu de páginas */
#cabecalho #areas {
    position: fixed;
    height: 100vh;
    width: max-content;
    background-color: var(--cinza-claro);
    color: var(--azul-escuro);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.075);
    padding: 3%;
    padding-left: 2.5%;
    text-align: left;
    font-size: 1em;
    font-style: italic;
    letter-spacing: 1px;
    top: 0;
    left: -80%;
    opacity: 0;
    z-index: 1;
    transition-duration: .8s;
}

#cabecalho #areas h2 {
    margin-bottom: 10%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.048);
}

#cabecalho #areas ul {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

#cabecalho #areas ul a {
    box-sizing: content-box;
    display: none;
    color: var(--azul-claro);
    width: 100%;
    padding: 0 1%;
    font-size: 1.2em;
    font-weight: bolder;
    transition-duration: .6s;
}
#cabecalho #areas ul a:hover,
#cabecalho #areas ul a:focus-visible {
    color: var(--cinza-claro);
    background-color: var(--azul-escuro);
    transition-duration: .6s;
    border-radius: 1em;
    padding: 4% 3% 3%;
}
#cabecalho #areas ul a:active {
    color: var(--cinza-claro);
    background-color: var(--azul-claro);
    transition-duration: .1s;
}

#cabecalho #areas .fechar-menu {
    display: none;
    justify-content: center;
    background-color: var(--azul-escuro);
    color: white;
    font-size: 1.4em;
    font-family: 'inclusao';
    font-weight: bolder;
    padding: 4% 10% 3.5%;
    margin: 10% auto 0;
    border-radius: 1em;
    transition-duration: .4s;
}
#cabecalho #areas .fechar-menu:hover,
#cabecalho #areas .fechar-menu:focus-visible {
    background-color: var(--azul-claro);
}
#cabecalho #areas .fechar-menu:active {
    background-color: var(--azul-transparente);
    color: var(--azul-claro);
    transition: .2s;
}

/* O conteúdo do site */
#conteudo {
    color: var(--rosa-escuro);
    letter-spacing: 1px;
    text-transform: none;
    font-size: 1.2em;
}

#conteudo .secao img {
    background-color: var(--cinza-claro);
    width: 30%;
    height: auto;
    margin-top: 0.2em;
}

#conteudo .txt {
    margin: auto 10% 5%;
    padding: 0.5% 2%;
    line-height: 1.8em;
    text-indent: 5%;
    text-align: left;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.199);
    font-weight: bolder;
}

#conteudo .txt p {
    margin: 2% 0;
}

#conteudo .txt strong {
    background-image: linear-gradient(to right, var(--azul-transparente), white);
    padding: 0.6%;
    padding-bottom: 0.3%;
    border-radius: 1em;
}
#conteudo .txt strong:nth-child(2n) {
    background-image: linear-gradient(to right, white, var(--azul-transparente));
}

#conteudo .txt a::after {
    content: '\1F517';
}
#conteudo .txt a {
    color: var(--azul-escuro);
    text-decoration: underline;
    transition-duration: .2s;
}
#conteudo .txt a:focus-visible {
    outline: auto;
    padding: 0.2em;
}
#conteudo .txt a:hover,
#conteudo .txt a:focus-visible {
    text-decoration: underline;
    color: var(--azul-claro);
}
#conteudo .txt a:active {
    color: var(--roxo);
}

/* Botão de topo */
#conteudo .topo {
    width: 6%;
    height: auto;
    right: 1%;
    bottom: 5%;
    position: fixed;
    cursor: pointer;
    border-radius: 60%;
    transition-duration: .1s;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);
    z-index: 1;
}
#conteudo .topo:focus-visible {
    outline: auto;
}
#conteudo .topo:hover,
#conteudo .topo:focus-visible {
    box-shadow: 0px 0px 15px 1px var(--rosa-escuro);
    transition-duration: .1s;
}
#conteudo .topo:active {
    box-shadow: 0px 0px 15px 1px var(--rosa-claro);
    transition-duration: .1s;
}

/* Rodapé */
#final {
    background-color: var(--rosa-claro);
    color: var(--roxo);
    text-transform: none;
    letter-spacing: 1px;
    font-weight: bolder;
    width: 100%;
    height: max-content;
    align-items: center;
    font-size: 1.5em;
    padding-bottom: 4%;
}

#final h2 {
    padding: 4%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.123);
}

#final #contatos .table {
    margin: -0.6em auto 5%;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    position: static;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);
    width: 80%;
}

#final #contatos .table tbody tr td {
    border: 0.3em double var(--azul-claro);
}

#final #contatos .cima {
    display: flex;
    justify-content: center;
    padding: 1%;
}

#final #contatos .cima a {
    display: flex;
    align-items: center;
    gap: 3%;
    color: white;
    transition-duration: .6s;
    border-radius: 0.5em;
    padding: 2%;
}

#final #contatos .cima a .la {
    display: flex;
    align-items: center;
    width: auto;
    height: 60px;
    margin: 0 0.3em;
}

#final #contatos .cima a .contato {
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .6s;
    border-radius: 0.5em;
    color: white;
    padding: 3%;
    margin: 0 -5%;
}
#final #contatos .cima a .contato:hover,
#final #contatos .cima a:focus-visible .contato {
    background-color: var(--roxo);
    color: white;
    transition-duration: .2s;
}
#final #contatos .cima a .contato:active {
    color: var(--cinza-claro);
    background-color: var(--rosa-escuro);
    transition-duration: .2s;
}

#final #autorias {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}

#final #autorias .list {
    list-style: none;
    columns: 4;
    gap: 1.5em;
    margin: 0 8%;
}

#final #autorias .list li {
    margin-bottom: 30%;
    text-align: start;
    color: white;
}

#final #autorias .list li a {
    color: white;
    transition-duration: .6s;
    border-radius: 0.4em;
    display: block;
    width: fit-content;
    padding: 1%;
}
#final #autorias .list li a:hover,
#final #autorias .list li a:focus-visible {
    background-color: var(--roxo);
    color: white;
    transition-duration: .2s;
}
#final #autorias .list li a:active  {
    color: var(--cinza-claro);
    background-color: var(--rosa-escuro);
    transition-duration: .2s;
}
