@charset "UTF-8";

/* Fonte do site */
@font-face {
    font-family: 'inclusao';
    src: url(../fonts/open-dyslexic.ttf) format(truetype);
}

/* Reset nas tags */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'inclusao';
    text-align: center;
    animation: aparecer 0.5s ease-out;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: transparent;
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
:focus {
    outline: 0;
}

/* Variáveis CSS */
:root {
    --azul-claro: #7cc2ff;
    --azul-escuro: #698bac;
    --azul-transparente: #7cc2ff48;
    --rosa-claro: #FFC8DD;
    --rosa: #ff81b1;
    --rosa-escuro: #ff609a;
    --cinza-claro: #f8f8f8;
    --roxo: #a479c0;
}

/* Estilização da barrinha de rolagem */
::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--azul-transparente);
    border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--azul-claro);
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--azul-escuro);
}

/* Efeito de aparecer página inteira */
@keyframes aparecer {
    0% {
        transform: translateX(-5px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* Animações dos elementos */
@keyframes esquerda {
    from {
        opacity: 0;
        translate: -10vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes direita {
    from {
        opacity: 0;
        translate: 10vw 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
