/* A responsividade do site */

/* Padrão de todas as telas pequenas */
@media screen and (max-width: 1200px) {

    body {
        font-size: 5vw;
    }

    #cabecalho .menu {
        top: 1.6%;
    }

    #conteudo .videos-a-ver .capas .video:hover {
        box-shadow: 0px 0px 30px 1px #ff81b1;
    }
    #conteudo .videos-a-ver .capas .video:active {
        box-shadow: 0px 0px 30px 1px #ff609a;
    }
    #conteudo .videos-a-ver .capas .video:hover figcaption {
        color: white;
        background-color: #ff81b1;
    }
    #conteudo .videos-a-ver .capas .video:active figcaption {
        background-color: #FFC8DD;
        color: #f8f8f8;
        transition-duration: .2s;
    }

}

/* Especificidades de cada tela */
@media only screen and (max-width: 600px) {

    body {
        font-size: 5vw;
    }

    #cabecalho .menu {
        left: 3%;
        width: 25%;
    }
    #cabecalho #titulo {
        padding: 4%;
        padding-top: 6%;
    }
    #cabecalho #titulo h1 {
        font-size: 10vw;
        margin-left: 27%;
        width: fit-content;
    }
    #cabecalho .nav {
        font-size: 3.5vw;
    }
    #cabecalho .nav ul {
        gap: 0vw;
        width: auto;
    }

    #areas {
        padding: 8% 5%;
        font-size: 0.9em;
    }

    #conteudo {
        font-size: 4.8vw;
    }
    #conteudo .txt {
        margin: auto 2% 15%;
        padding: 2% 5%;
        font-size: 1.2em;
        line-height: 1.8em;
    }
    #conteudo .txt p {
        margin: 3% 0;
    }
    #conteudo .secao img {
        width: 70%;
    }
    #conteudo .especial img {
        width: 80%;
    }
    #conteudo #parte-horaria {
        flex-direction: column;
    }
    #conteudo #parte-antihoraria {
        flex-direction: column-reverse;
    }
    #conteudo .parte .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    #conteudo .parte .retangulo {
        width: 85vw;
        padding: 3.5% 0;
    }
    #conteudo .parte .retangulo h2 {
        padding-bottom: 1%;
    }
    #conteudo .parte .retangulo .feituras:last-child {
        padding-bottom: 2%;
    }
    #conteudo .parte .retangulo p {
        padding: 3% 0;
    }
    #conteudo .parte .retangulo p, #conteudo .parte .retangulo .feituras {
        font-size: 1.2em;
        width: auto;
    }
    #conteudo .parte .retangulo.direito h2, #conteudo .parte .retangulo.direito p, #conteudo .parte .retangulo.direito .feituras {
        text-align: center;
        width: auto;
    }
    #conteudo .parte .retangulo.esquerdo h2, #conteudo .parte .retangulo.esquerdo p, #conteudo .parte .retangulo.esquerdo .feituras {
        text-align: center;
        width: auto;
    }

    #conteudo .videos-a-ver section {
        font-size: 7vw;
        gap: 3em;
    }
    #conteudo .videos-a-ver .capas.cimas, #conteudo .videos-a-ver .capas.baixas {
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: auto 15%;
    }
    #conteudo .videos-a-ver .capas.cimas a, #conteudo .videos-a-ver .capas.baixas a {
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    #conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption {
        width: 101%;
        margin: 0;
    }
    #conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.cimas a figcaption:hover, #conteudo .videos-a-ver .capas.cimas a figcaption:active {
        border-radius: 0 0 1.5em 1.5em ;
    }
    #conteudo .videos-a-ver .capas.baixas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption:hover, #conteudo .videos-a-ver .capas.baixas a figcaption:active {
        border-radius: 1.5em 1.5em 0 0;
    }
    #conteudo .videos-a-ver .igual.cimas {
        border-radius: 1.5em 1.5em 0 0;
    }
    #conteudo .videos-a-ver .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    #conteudo .videos-a-ver .capas .igual {
        height: 100%;
        width: 105%;
    }
    #conteudo .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    #conteudo .imagens .iguali {
        width: 80%;
    }
    #conteudo .topo {
        width: 20%;
        right: 4%;
    }

    #final {
        margin-top: 10%;
    }
    #final h2 {
        padding: 10% 5% 6%;
    }
    #final #contatos .table {
        margin: auto auto 5%;
        display: flex;
        width: max-content;
    }
    #final #contatos .table tbody tr {
        font-size: 7vw;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    #final #contatos .table tbody tr td {
        padding: 0.3em;
    }
    #final #contatos .cima {
        display: flex;
    }
    #final #contatos .cima a .la {
        width: auto;
        height: 40px;
    }
    #final #autorias .list {
        font-size: 5vw;
        margin: 0 5%;
        columns: 2;
        gap: 1vw;
    }
    #final #autorias .list li {
        width: fit-content;
    }
}
@media only screen and (min-width: 600px) and (max-width: 769px) {
    
    body {
        font-size: 5vw;
    }
    
    #cabecalho .menu {
        left: 3%;
        width: 25%;
    }
    #cabecalho #titulo {
        padding: 4%;
        padding-top: 6%;
    }
    #cabecalho #titulo h1 {
        font-size: 10vw;
        margin-left: 27%;
        width: fit-content;
    }
    #cabecalho .nav {
        font-size: 3.5vw;
    }
    #cabecalho .nav ul {
        gap: 0vw;
        width: auto;
    }
    
    #areas {
        padding: 8% 5%;
    }
    
    #conteudo {
        font-size: 5vw;
    }
    #conteudo .txt {
        margin: auto 2% 15%;
        padding: 2% 5%;
        font-size: 1.2em;
        line-height: 1.8em;
    }
    #conteudo .txt p {
        margin: 3% 0;
    }
    #conteudo .secao img {
        width: 70%;
    }
    #conteudo .especial img {
        width: 80%;
    }
    #conteudo #parte-horaria {
        flex-direction: column;
    }
    #conteudo #parte-antihoraria {
        flex-direction: column-reverse;
    }
    #conteudo .parte .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    #conteudo .parte .retangulo {
        width: 85vw;
        padding: 3.5% 0;
    }
    #conteudo .parte .retangulo h2 {
        padding-bottom: 1%;
    }
    #conteudo .parte .retangulo .feituras:last-child {
        padding-bottom: 2%;
    }
    #conteudo .parte .retangulo p {
        padding: 3% 0;
    }
    #conteudo .parte .retangulo p, #conteudo .parte .retangulo .feituras {
        font-size: 1.2em;
        width: auto;
    }
    #conteudo .parte .retangulo.direito h2, #conteudo .parte .retangulo.direito p, #conteudo .parte .retangulo.direito .feituras {
        text-align: center;
        width: auto;
    }
    #conteudo .parte .retangulo.esquerdo h2, #conteudo .parte .retangulo.esquerdo p, #conteudo .parte .retangulo.esquerdo .feituras {
        text-align: center;
        width: auto;
    }

    #conteudo .videos-a-ver section {
        font-size: 7vw;
        gap: 3em;
    }
    #conteudo .videos-a-ver br {
        display: none;
    }
    #conteudo .videos-a-ver .capas.cimas, #conteudo .videos-a-ver .capas.baixas {
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: auto 15%;
    }
    #conteudo .videos-a-ver .capas.cimas a, #conteudo .videos-a-ver .capas.baixas a {
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    #conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption {
        width: 90%;
        margin: 0;
        padding: 5%;
    }
    #conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.cimas a figcaption:hover, #conteudo .videos-a-ver .capas.cimas a figcaption:active {
        border-radius: 0 0 1.5em 1.5em ;
    }
    #conteudo .videos-a-ver .capas.baixas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption:hover, #conteudo .videos-a-ver .capas.baixas a figcaption:active {
        border-radius: 1.5em 1.5em 0 0;
    }
    #conteudo .videos-a-ver .igual.cimas {
        border-radius: 1.5em 1.5em 0 0;
    }
    #conteudo .videos-a-ver .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    #conteudo .videos-a-ver .capas .igual {
        max-height: 100%;
        width: 100%;
    }
    #conteudo .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    #conteudo .imagens .iguali {
        width: 80%;
    }
    #conteudo .topo {
        width: 20%;
        right: 4%;
    }

    #final {
        margin-top: 10%;
    }
    #final h2 {
        padding: 10% 5% 6%;
    }
    #final #contatos .table {
        margin: auto auto 5%;
        display: flex;
        width: max-content;
    }
    #final #contatos .table tbody tr {
        font-size: 7vw;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    #final #contatos .table tbody tr td {
        padding: 0.3em;
    }
    #final #contatos .cima {
        display: flex;
    }
    #final #contatos .cima a .la {
        width: auto;
        height: 90px;
    }
    #final #autorias .list {
        font-size: 5vw;
        margin: 0 5%;
        columns: 2;
        gap: 1vw;
    }
    #final #autorias .list li {
        width: fit-content;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    
    body {
        font-size: 5vw;
    }
    
    #cabecalho .menu {
        left: 3%;
        width: 25%;
    }
    #cabecalho #titulo {
        padding: 4%;
        padding-top: 6%;
    }
    #cabecalho #titulo h1 {
        font-size: 10vw;
        margin-left: 27%;
        width: fit-content;
    }
    #cabecalho .nav {
        font-size: 3.5vw;
    }
    #cabecalho .nav ul {
        gap: 0vw;
        width: auto;
    }
    
    #areas {
        padding: 8% 5%;
    }
    
    #conteudo {
        font-size: 5vw;
    }
    #conteudo .txt {
        margin: auto 2% 15%;
        padding: 2% 5%;
        font-size: 1.2em;
        line-height: 1.8em;
    }
    #conteudo .txt p {
        margin: 3% 0;
    }
    #conteudo .secao img {
        width: 70%;
    }
    #conteudo .especial img {
        width: 80%;
    }
    #conteudo #parte-horaria {
        flex-direction: column;
    }
    #conteudo #parte-antihoraria {
        flex-direction: column-reverse;
    }
    #conteudo .parte .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    #conteudo .parte .retangulo {
        width: 85vw;
        padding: 3.5% 0;
    }
    #conteudo .parte .retangulo h2 {
        padding-bottom: 1%;
    }
    #conteudo .parte .retangulo .feituras:last-child {
        padding-bottom: 2%;
    }
    #conteudo .parte .retangulo p {
        padding: 3% 0;
    }
    #conteudo .parte .retangulo p, #conteudo .parte .retangulo .feituras {
        font-size: 1.2em;
        width: auto;
    }
    #conteudo .parte .retangulo.direito h2, #conteudo .parte .retangulo.direito p, #conteudo .parte .retangulo.direito .feituras {
        text-align: center;
        width: auto;
    }
    #conteudo .parte .retangulo.esquerdo h2, #conteudo .parte .retangulo.esquerdo p, #conteudo .parte .retangulo.esquerdo .feituras {
        text-align: center;
        width: auto;
    }

    #conteudo .videos-a-ver section {
        font-size: 7vw;
        gap: 3em;
    }
    #conteudo .videos-a-ver br {
        display: none;
    }
    #conteudo .videos-a-ver .capas.cimas, #conteudo .videos-a-ver .capas.baixas {
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: auto 15%;
    }
    #conteudo .videos-a-ver .capas.cimas a, #conteudo .videos-a-ver .capas.baixas a {
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    #conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption {
        width: 96%;
        margin: 0;
    }
    #conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.cimas a figcaption:hover, #conteudo .videos-a-ver .capas.cimas a figcaption:active {
        border-radius: 0 0 1.5em 1.5em ;
    }
    #conteudo .videos-a-ver .capas.baixas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption:hover, #conteudo .videos-a-ver .capas.baixas a figcaption:active {
        border-radius: 1.5em 1.5em 0 0;
    }
    #conteudo .videos-a-ver .igual.cimas {
        border-radius: 1.5em 1.5em 0 0;
    }
    #conteudo .videos-a-ver .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    #conteudo .videos-a-ver .capas .igual {
        max-height: 100%;
        width: 100%;
    }
    #conteudo .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    #conteudo .imagens .iguali {
        width: 80%;
    }
    #conteudo .topo {
        width: 20%;
        right: 4%;
    }
    #final {
        margin-top: 10%;
    }
    #final h2 {
        padding: 10% 5% 6%;
    }
    #final #contatos .table {
        margin: auto auto 5%;
        display: flex;
        width: max-content;
    }
    #final #contatos .table tbody tr {
        font-size: 7vw;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    #final #contatos .table tbody tr td {
        padding: 0.3em;
    }
    #final #contatos .cima {
        display: flex;
    }
    #final #contatos .cima a .la {
        width: auto;
        height: 40px;
    }
    #final #autorias .list {
        font-size: 5vw;
        margin: 0 5%;
        columns: 2;
        gap: 1vw;
    }
    #final #autorias .list li {
        width: fit-content;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    body {
        font-size: 5vw;
    }
    
    #cabecalho .menu {
        left: 3%;
        width: 25%;
    }
    #cabecalho #titulo {
        padding: 4%;
        padding-top: 6%;
    }
    #cabecalho #titulo h1 {
        font-size: 10vw;
        margin-left: 27%;
        width: fit-content;
    }
    #cabecalho .nav {
        font-size: 3.5vw;
    }
    #cabecalho .nav ul {
        gap: 0vw;
        width: auto;
    }
    
    #areas {
        padding: 8% 5%;
    }
    
    #conteudo {
        font-size: 5vw;
    }
    #conteudo .txt {
        margin: auto 2% 15%;
        padding: 2% 5%;
        font-size: 1.2em;
        line-height: 1.8em;
    }
    #conteudo .txt p {
        margin: 3% 0;
    }
    #conteudo .secao img {
        width: 70%;
    }
    #conteudo .especial img {
        width: 80%;
    }
    #conteudo #parte-horaria {
        flex-direction: column;
    }
    #conteudo #parte-antihoraria {
        flex-direction: column-reverse;
    }
    #conteudo .parte .circulo {
        border-radius: 10em 10em 0 0;
        width: 50%;
    }
    #conteudo .parte .retangulo {
        width: 85vw;
        padding: 3.5% 0;
    }
    #conteudo .parte .retangulo h2 {
        padding-bottom: 1%;
    }
    #conteudo .parte .retangulo .feituras:last-child {
        padding-bottom: 2%;
    }
    #conteudo .parte .retangulo p {
        padding: 3% 0;
    }
    #conteudo .parte .retangulo p, #conteudo .parte .retangulo .feituras {
        font-size: 1.2em;
        width: auto;
    }
    #conteudo .parte .retangulo.direito h2, #conteudo .parte .retangulo.direito p, #conteudo .parte .retangulo.direito .feituras {
        text-align: center;
        width: auto;
    }
    #conteudo .parte .retangulo.esquerdo h2, #conteudo .parte .retangulo.esquerdo p, #conteudo .parte .retangulo.esquerdo .feituras {
        text-align: center;
        width: auto;
    }

    #conteudo .videos-a-ver section {
        font-size: 7vw;
        gap: 3em;
    }
    #conteudo .videos-a-ver br {
        display: none;
    }
    #conteudo .videos-a-ver .capas.cimas, #conteudo .videos-a-ver .capas.baixas {
        flex-direction: column;
        align-items: center;
        gap: 3em;
        margin: auto 15%;
    }
    #conteudo .videos-a-ver .capas.cimas a, #conteudo .videos-a-ver .capas.baixas a {
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    #conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption {
        width: 80%;
        margin: 0;
        padding: 3%;
    }
    #conteudo .videos-a-ver .capas.cimas a figcaption, #conteudo .videos-a-ver .capas.cimas a figcaption:hover, #conteudo .videos-a-ver .capas.cimas a figcaption:active {
        border-radius: 0 0 1.5em 1.5em ;
    }
    #conteudo .videos-a-ver .capas.baixas a figcaption, #conteudo .videos-a-ver .capas.baixas a figcaption:hover, #conteudo .videos-a-ver .capas.baixas a figcaption:active {
        border-radius: 1.5em 1.5em 0 0;
    }
    #conteudo .videos-a-ver .igual.cimas {
        border-radius: 1.5em 1.5em 0 0;
    }
    #conteudo .videos-a-ver .igual.baixa {
        border-radius: 0 0 1.5em 1.5em ;
    }
    #conteudo .videos-a-ver .capas .igual {
        max-height: 100%;
        width: 86%;
    }
    #conteudo .imagens {
        flex-direction: column;
        margin: 5% auto;
        gap: 1em;
    }
    #conteudo .imagens .iguali {
        width: 80%;
    }
    #conteudo .topo {
        width: 20%;
        right: 4%;
    }
    
    #final {
        margin-top: 10%;
    }
    #final h2 {
        padding: 10% 5% 6%;
    }
    #final #contatos .table {
        margin: auto auto 5%;
        display: flex;
        width: max-content;
    }
    #final #contatos .table tbody tr {
        font-size: 7vw;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    #final #contatos .table tbody tr td {
        padding: 0.3em;
    }
    #final #contatos .cima {
        display: flex;
    }
    #final #contatos .cima a .la {
        width: auto;
        height: 150px;
    }
    #final #autorias .list {
        font-size: 5vw;
        margin: 0 5%;
        columns: 2;
        gap: 1vw;
    }
    #final #autorias .list li {
        width: fit-content;
    }
}

/* Ajuste específico em telas específicas */ 
@media screen and (min-width: 1200px) {

    #conteudo .parte .retangulo .feituras#identidade {
        width: max-content;
    }

}
