@charset "UTF-8";

/* A mente do site */
body {
    min-height: 100vh;
    max-width: 100vw;
    font-size: 1.8vw;
    background: no-repeat fixed;
    background-size: cover;
}
body#meus-videos{
    background-image: url(../Imagens\ para\ todas/fundo\ colorido\ claro.jpg);
    background-position: center;
}
body#inspiracoes-audiovisuais {
    background-image: url(../Imagens\ para\ todas/céu\ rosa.jpg);
    background-position: bottom;
}
video:focus-visible {
    outline: auto;
}

/* O corpo do site */
/* O nome do vídeo do site */
.nome {
    background-color: #f8f8f893;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.123);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.123);
    width: max-content;
    margin: 0.5% auto;
    padding: 0.9% 1% 0.1%;
    border-radius: 1em;
}

/* O vídeo e seus tamanhos */
video {
    height: auto;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.411);
}
.igual {
    width: 37%;
}
.la {
    width: 28%;
}
.pé {
    width: 21%;
}

/* Os botões */
.botao {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.158);
    width: 4%;
    height: auto;
    border-radius: 60%;
    margin-inline-start: 1%;
    margin-inline-end: 1%;
    margin-bottom: 1%;
    transition-duration: .1s;
}
a:focus-visible .botao {
    outline: auto;
}
.botao:hover,
a:focus-visible .botao {
    box-shadow: 0px 0px 10px 1px var(--rosa-escuro);
}
.botao:active {
    box-shadow: 0px 0px 10px 1px var(--rosa-claro);
}

/* A responsividade da página */
/* Características padrões das menores telas */
@media screen and (max-width: 1200px) {
    .nome {
        width: auto;
        margin: 5% 9%;
        padding: 3% 5% 1%;
        font-size: 6vw;
    }
    .botao {
        margin-top: 5%;
        margin-bottom: 8%;
        margin-inline-start: 5%;
        margin-inline-end: 5%;
    }
}

/* Características específicas das menores telas */
@media screen and (max-width: 600px) {
    .igual {
        width: 88%;
    }
    .la {
        width: 89%;
    }
    .pé {
        width: 80%;
    }
    .botao {
        width: 20%;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .igual {
        width: 86%;
    }
    .la {
        width: 77%;
    }
    .pé {
        width: 60%;
    }
    .botao {
        width: 15%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .igual {
        width: 86%;
    }
    .la {
        width: 77%;
    }
    .pé {
        width: 55%;
    }
    .botao {
        width: 15%;
    }

}