/* Variáveis CSS */
:root {
    --azul-claro: #7cc2ff;
    --azul-escuro: #698bac;
    --azul-transparente: #7cc2ff48;
    --rosa-claro: #FFC8DD;
    --rosa: #ff81b1;
    --rosa-escuro: #ff609a;
    --cinza-claro: #f8f8f8;
    --roxo: #a479c0;
}

#conteudo .sites {
    background-color: var(--azul-claro);
    margin-bottom: 10%;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#conteudo .sites .tela {
    display: none;
}

#conteudo .sites .tela.aparecida {
    display: flex;
    align-items: start;
    gap: 5em;
}

#conteudo .sites .tela .btn-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

#conteudo .sites .tela .btn-responsive h3 {
    background-color: white;
    padding: 0.5em;
    padding-top: 0.6em;
    border-radius: 1em;
}

#conteudo .sites .tela .btn-responsive .botoes {
    display: flex;
    gap: 1em;
}

#conteudo .sites .tela .btn-responsive .botoes a {
    background-color: var(--rosa-escuro);
    color: white;
    width: max-content;
    padding: 20px;
    border-radius: 50%;
    font-size: 1.3em;
    transition: .2s;
}

#conteudo .sites .tela .site iframe {
    width: 100%;
    height: 80vh;
    border-radius: 1em;
}

#conteudo .sites .tela .site .btn-site {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 0.3em;
}

#conteudo .sites .tela .site .btn-site a {
    display: flex;
    align-items: center;
    gap: 0.3em;
    background-color: var(--rosa-escuro);
    color: white;
    padding: 20px;
    padding-bottom: 15px;
    border: 1em;
    border-radius: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: .2s;
}
#conteudo .sites .tela .site .btn-site a:focus-visible,
#conteudo .sites .tela .btn-responsive a:focus-visible {
    outline: auto;
}
#conteudo .sites .tela .site .btn-site a:hover,
#conteudo .sites .tela .site .btn-site a:focus-visible, 
#conteudo .sites .tela .btn-responsive a:hover,
#conteudo .sites .tela .btn-responsive a:focus-visible {
    background-color: var(--rosa);
}
#conteudo .sites .tela .site .btn-site a:active,
#conteudo .sites .tela .btn-responsive a:active {
    background-color: var(--rosa-claro);
}

#conteudo .sites .tela .site .btn-site a span {
    margin-top: -7px;
    font-size: 1.5em;
}

#conteudo .sites #btn-sites {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#conteudo .sites #btn-sites .icone {
    width: max-content;
    border-radius: 50%;
    padding: 0.7em;
    transition: .4s;
    transform: translate(0, 0);
}
#conteudo .sites #btn-sites .icone:not(.selecionado):hover,
#conteudo .sites #btn-sites .icone:not(.selecionado):focus-visible {
    transform: translate(-5px, -5px);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.082);
    outline: 2px dotted white;
}

#conteudo .sites #btn-sites .icone.selecionado {
    transform: translate(-5px, -5px);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.082);
    outline: 2px solid white;
}
#conteudo .sites #btn-sites .icone.selecionado:focus-visible {
    padding: 0.8em;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.247);
}

#conteudo .sites #btn-sites .icone img {
    width: 5em;
    height: auto;
}
