#conteudo .sites {
    background-color: var(--azul-claro);
    border-radius: 10%;
    margin-bottom: 10%;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#conteudo .sites .tela {
    display: flex;
    align-items: start;
    gap: 5em;
}

#conteudo .sites .tela .btn-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

#conteudo .sites .tela .btn-responsive h3 {
    background-color: white;
    padding: 0.5em;
    padding-top: 0.6em;
    border-radius: 1em;
}

#conteudo .sites .tela .btn-responsive .botoes {
    display: flex;
    gap: 1em;
}

#conteudo .sites .tela .btn-responsive .botoes a {
    background-color: var(--rosa-escuro);
    color: white;
    width: max-content;
    padding: 20px;
    border-radius: 50%;
    font-size: 1.3em;
    transition: .2s;
}

#conteudo .sites .tela .site iframe {
    width: 100%;
    height: 80vh;
    border-radius: 1em;
    border-width: 0px;
}

#conteudo .sites .tela .site .btn-site {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 0.3em;
}

#conteudo .sites .tela .site .btn-site a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
    background-color: var(--rosa-escuro);
    color: white;
    padding: 20px;
    padding-bottom: 15px;
    border: 1em;
    border-radius: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: .2s;
}
#conteudo .sites .tela .site .btn-site a:focus-visible,
#conteudo .sites .tela .btn-responsive a:focus-visible {
    outline: auto;
}
#conteudo .sites .tela .site .btn-site a:hover,
#conteudo .sites .tela .site .btn-site a:focus-visible, 
#conteudo .sites .tela .btn-responsive a:hover,
#conteudo .sites .tela .btn-responsive a:focus-visible {
    background-color: var(--rosa);
}
#conteudo .sites .tela .site .btn-site a:active,
#conteudo .sites .tela .btn-responsive a:active {
    background-color: var(--rosa-claro);
}

#conteudo .sites .tela .site .btn-site a span {
    margin-top: -6px;
    font-size: 1.5em;
}

#conteudo .sites #btn-sites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 15vw;
    max-height: 60vh;
    gap: 0.6em;
    margin-top: 0.5em;
}

#conteudo .sites #btn-sites .icone {
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 50%;
    padding: 1em;
    padding-bottom: 0.9em;
    transition: .4s;
    transform: translate(0, 0);
}
#conteudo .sites #btn-sites .icone:not(.selecionado):hover,
#conteudo .sites #btn-sites .icone:not(.selecionado):focus-visible {
    transform: translate(-5px, -5px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.082);
    outline: 2px dotted white;
}

#conteudo .sites #btn-sites .icone.selecionado {
    transform: translate(-5px, -5px);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.082);
    outline: 2px solid white;
}
#conteudo .sites #btn-sites .icone.selecionado:hover,
#conteudo .sites #btn-sites .icone.selecionado:focus-visible {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.247);
    transform: translate(-8px, -8px);
}

#conteudo .sites #btn-sites .icone img {
    width: 4em;
    height: auto;
}
