<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área de inspiração audiovisual</title>
    <link rel="stylesheet" href="../css/cores.css">
    <link rel="shortcut icon" href="../Imagens para todas/video-edition.png" type="image/x-icon">
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/topo.js" defer></script>
    <script src="../js/aparecer.js" defer></script>
</head>
<body>
    <header id="cabecalho">
        <img id="menu" class="menu" onclick="abrirMenu()" src="../Imagens para todas/menu.png" alt="Menu de páginas">
        <div id="titulo">
            <label for="texto"><h1>Inspirações audiovisuais</h1></label>
        </div>
        <nav class="nav" id="nav">
            <ul>
                <a href="#conteudo"><li><h3>Sobre</h3></li></a>
                <a href="#videos"><li><h3>Vídeos</h3></li></a>
                <a href="#contatos"><li><h3>Contatos</h3></li></a>
                <a href="#autorias"><li><h3>Autorias</h3></li></a>
            </ul>
        </nav>
        <nav id="areas">
            <label for="texto e link"><h2>Áreas a acessar:</h2></label>
            <a href="../index.html"><h3>Entrada principal</h3></a>
            <a href="area-de-videos.html"><h3>Vídeos editados</h3></a>
            <a href="area-de-imagens.html"><h3>Imagens editadas</h3></a>
            <a href="area-de-iv.html"><h3>Inspirações de imagem</h3></a>
            <a href="conclusoes-finais.html"><h3>Conclusões finais</h3></a>
        </nav>
    </header>
    <main id="conteudo">
        <section>
            <label for="imagem e texto"></label>
            <figure class="secao">
                <img src="../Imagens para todas/sobre.png" alt="Sobre:">
            </figure>
            <fieldset class="txt">
                <p>
                    Durante a minha vida de editore, passo anos e anos consumindo e observando edições de vídeos feitas e publicadas em várias plataformas para ter algumas ideias legais a colocar em prática. E uso plataformas, como Youtube, Tik Tok e Instagram, para consumir esse tipo de edição audiovisual.
                </p>
                <p>
                        Aqui, você verá alguns vídeos que me inspiraram de alguma forma ou de outra &#x1F5A4;
                </p>
                <p>
                    Ao clicar na capa ou nome do vídeo, você irá a uma nova página exclusiva do determinado vídeo, ainda mais com a possibilidade de baixá-lo clicando no botão abaixo.
                </p>
            </fieldset>
        </section>
        <section class="videos-a-ver">
            <label for="imagem, texto e link"></label>
            <figure class="secao">
                <img src="../Imagens para todas/videos a ver.png" id="videos" class="coisa" alt="Vídeos a ver:">
            </figure>
            <section>
                <figure class="capas cimas">
                    <a href="gwen.html" rel="next" class="video">
                        <img class="igual cimas" src="../Inspirações minhas de vídeo/capas/gwen.jpg" alt="">
                        <figcaption>
                            <h3>Gwendolyn <br> Tennyson</h3>
                        </figcaption>
                    </a>
                    <a href="scitwi.html" rel="next" class="video">
                        <img class="igual cimas" src="../Inspirações minhas de vídeo/capas/scitwi.jpg" alt="">
                        <figcaption>
                            <h3>Scitwi</h3>
                        </figcaption>
                    </a>
                </figure>
                <figure class="capas baixas">
                    <a href="sciset2.html" rel="next" class="video">
                        <figcaption>
                            <h3>Sciset</h3>
                        </figcaption>
                        <img src="../Inspirações minhas de vídeo/capas/sciset.jpg" alt="" class="igual baixa">
                    </a>
                    <a href="ladybug.html" rel="next" class="video">
                        <figcaption>
                            <h3>Ladybug</h3>
                        </figcaption>
                        <img src="../Inspirações minhas de vídeo/capas/ladybug.jpg" alt="" class="igual baixa">
                    </a>
                </figure>
                <figure class="capas cimas">
                    <a href="sour_sweet.html" rel="next" class="video">
                        <img src="../Inspirações minhas de vídeo/capas/sour sweet.jpg" alt="" class="igual cimas">
                        <figcaption>
                            <h3>Sour <br> Sweet</h3>
                        </figcaption>
                    </a>
                    <a href="chucky.html" rel="next" class="video">
                        <img src="../Inspirações minhas de vídeo/capas/chucky.jpg" class="igual cimas">
                        <figcaption>
                            <h3>Chucky</h3>
                        </figcaption>
                    </a>
                </figure>
                <figure class="capas baixas">
                    <a href="enibes.html" rel="next" class="video">
                        <figcaption>
                            <h3>Ênibes</h3>
                        </figcaption>
                        <img class="igual baixa" src="../Inspirações minhas de vídeo/capas/ênibes.jpg" alt="">
                    </a>
                    <a href="rainbow_dash.html" rel="next" class="video">
                        <figcaption>
                            <h3>Rainbow <br> Dash</h3>
                        </figcaption>
                        <img class="igual baixa" src="../Inspirações minhas de vídeo/capas/rainbow dash.jpg" alt="">
                    </a>
                </figure>
            </section>
        </section>
        <div id="topo">
            <img class="topo" src="../Imagens para todas/topo.png" alt="Clique aqui para voltar ao topo da página">
        </div>
    </main>
    <footer id="final" onclick="sairDoMenu()">
        <section id="contatos">
            <label for="texto, imagem e link"><h2>Meus Contatos</h2></label>
            <table border="1" class="table">
                <thead>
                    <tr>
                        <th>
                            <div class="cima">
                                <a href="https://www.instagram.com/enne_jim10/" target="_blank" rel="external"><img src="../Imagens para todas/instagram.png" alt="" class="la"><h3 class="contato"><abbr title="@enne_jim10">Instagram</abbr></h3></a>
                            </div>
                        </th>
                        <th>
                            <div class="cima">
                                <a href="https://discord.com/channels/@me" target="_blank" rel="external"><img src="../Imagens para todas/discordia.png" alt="" class="la"><h3 class="contato"><span lang="en-us"><abbr title="Enne#9035">Discord</abbr></span></h3></a>
                            </div>
                        </th>
                        <th>
                            <div class="cima">
                                <a href="https://www.tiktok.com/@enne_jim_pessoa?is_from_webapp=1&sender_device=pc" target="_blank" rel="external"><img src="../Imagens para todas/tik-tok.png" alt="" class="la"><h3 class="contato"><abbr title="@enne_jim_pessoa">Tik Teko</abbr></h3></a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="cima">
                                <a href="https://github.com/Enne-Amore" rel="external" target="_blank"><img src="../Imagens para todas/github.png" alt="" class="la"><h3 class="contato"><abbr title="Enne-Amore">GitHub</abbr></h3></a>
                            </div>
                        </th>
                        <th>
                            <div class="cima">
                                <a href="tel:+5583981448264" target="_blank" rel="external"><img src="../Imagens para todas/telefone.png" alt="" class="la"><h3 class="contato"><abbr title="(83) 981448264">Telefone</abbr></h3></a>
                            </div>
                        </th>
                        <th>
                            <div class="cima">
                                <a href="https://www.linkedin.com/in/enne-jim-pessoa-b90a18231" target="_blank" rel="external"><img src="../Imagens para todas/linkedin.png" alt="" class="la"><h3 class="contato"><abbr title="Enne Jim Pessoa">Linkedin</abbr></h3></a>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2%">
                            <div class="cima">
                                <a href="mailto:ennefofe10@gmail.com" target="_blank" rel="external"><img src="../Imagens para todas/email.png" alt="" class="la"><h3 class="contato"><span lang="en-us"><abbr title="EnneFofe10@gmail.com">Email</abbr></span></h3></a>
                            </div>
                        </th>
                        <th colspan="1%">
                            <div class="cima">
                                <a href="https://www.facebook.com/people/Enne-Jim-Pessoa/pfbid0aQ6yJzDEVnNtwyvhJpWuwZpj3WJCVeGaacUncsjyKa69tKhu13Ng9Nd64FHmxzwwl/" target="_blank" rel="external"><img src="../Imagens para todas/facebook.png" alt="" class="la"><h3 class="contato"><span lang="en-us"><abbr title="Enne Jim Pessoa">Facebook</abbr></span></h3></a>
                            </div>
                        </th>
                    </tr>
                </thead>
            </table>
        </section>
        <section id="autorias">
            <label for="texto e link"><h2>Direitos autorais de:</h2></label>
            <ul class="list">
                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/instagram" title="instagram ícones" target="_blank" rel="external">Instagram ícones criados por <span lang="en-us">Freepik - Flaticon</span></a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/discordia" target="_blank" rel="external" title="discordia ícones">Discordia ícones criados por <span lang="en-us">Freepik - Flaticon</span></a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/tiktok" target="_blank" rel="external" title="tiktok ícones">Tiktok ícones criados por <span lang="en-us">Freepik - Flaticon</span></a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/br/icones-gratis/facebook" target="_blank" rel="external" title="facebook ícones"><span lang="en-us">Facebook</span> ícones criados por <span lang="en">Freepik - Flaticon</span></a>
                </li>
                <li>
                    <a href="https://br.pinterest.com/pin/827606869011836550/" target="_blank" rel="external">Seta neon de voltar</a>
                </li>
                <li>
                    <a href="https://www.canva.com/" target="_blank" rel="external">Imagens de afins</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/pt-br/" target="_blank" rel="external">Planos de fundo</a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/video-editing" title="video editing icons" target="_blank" rel="external"><span lang="en-us">Video editing icons created by Freepik - Flaticon</span></a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/editor" target="_blank" rel="external" title="editor icons"><span lang="en-us">Editor icons created by Hilmy Abiyyu A. - Flaticon</span></a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/heart" title="heart icons" target="_blank" rel="external"><span lang="en-us">Heart icons created by Freepik - Flaticon</span></a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/pride" title="pride icons" target="_blank" rel="external"><span lang="en-us">Pride icons created by Freepik - Flaticon</span></a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/gmail" title="gmail icons" target="_blank" rel="external"><span lang="en-us">Gmail icons created by Lizel Arina - Flaticon</span></a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/telephone" title="telephone icons" target="_blank" rel="external"><span lang="en-us">Telephone icons created by Graphix's Art - Flaticon</span></a>
                </li>
                <li>
                    Foto de <a href="https://unsplash.com/@nejc_soklic?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="external">Nejc Soklič</a> na <a href="https://unsplash.com/pt-br/fotografias/wO42Rmamef8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank" rel="external"><span lang="en-us">Unsplash</span></a>
                </li>
                <li>
                    <a href="https://www.flaticon.com/free-icons/github" title="github icons"><span lang="en-us">Github icons created by Laisa Islam Ani - Flaticon</span></a>
                </li>
                <li>
                    <a href="https://www.bing.com/images/create?FORM=GENILP" target="_blank" rel="external">Imagens de inteligência artificial</a>
                </li>
        </section>
    </footer>
</body>
</html>